In [1]:
from csv import reader

# libraries for the data analysis
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# r means read-ony 
# w means write-only

# Read()  function 
with open("text1.txt", "r") as file:
    information = file.read(100)
    print(information)
    print("is this file closed?: ", file.closed)

print("is this file closed?: ", file.closed)

My name is Redolf Sam Mary Confidence and Nana
   We learn programing together every evening.
    an
is this file closed?:  False
is this file closed?:  True

In [3]:
file1 = open("text1.txt", "r")
print(file1.read(100))
print("is this file closed?: ", file1.closed)
file1.close()
print("is this file closed?: ", file1.closed)

My name is Redolf Sam Mary Confidence and Nana
   We learn programing together every evening.
    an
is this file closed?:  False
is this file closed?:  True

In [4]:
# Readline 
with open("text1.txt", "r") as file:
    information = file.readline()
    print(information)

My name is Redolf Sam Mary Confidence and Nana

In [5]:
# Readline 
with open("text1.txt", "r") as file:
    information = file.readlines()
    print(information)

['My name is Redolf Sam Mary Confidence and Nana\n', '   We learn programing together every evening.\n', '    and we have agreed that python is the best language for us \n', '    so far.My name is Redlf Sam Mary Cnfidence and Nana\n', '   We learn prgraming tgether every evening.\n', '    and we have agreed that pythn is the best language fr us \n', '    s far.']

In [6]:
print("Once upon a time in\n \nthe digital kingdom of Techlandia")

Once upon a time in

the digital kingdom of Techlandia

In [7]:
# writting content to a file 
# w mean write-only

with open("text2.txt", "w") as file:
    content = """My name is Redolf Sam Mary Confidence and Nana
    We learn programing together every evening.
    and we have agreed that python is the best language for us 
    so far.
    """
    file.write(content)

In [8]:
with open("text2.txt", "r") as file:
    last_line = file.read()
    print(last_line)

My name is Redolf Sam Mary Confidence and Nana
    We learn programing together every evening.
    and we have agreed that python is the best language for us
    so far.

In [9]:
# a append some content to the end of the file
with open("text2.txt", "a") as file:
    file.write("This is what i forgot to add into the file")

In [10]:
with open("text2.txt", "r") as file:
    last_line = file.read()
    print(last_line)

My name is Redolf Sam Mary Confidence and Nana
    We learn programing together every evening.
    and we have agreed that python is the best language for us
    so far.
    This is what i forgot to add into the file

In [11]:
with open("pima-indians-diabetes.data.csv", "r") as file:
    csv_reader = reader(file)
    for x in csv_reader:
        print(x)

['6', '148', '72', '35', '0', '33.6', '0.627', '50', '1']
['1', '85', '66', '29', '0', '26.6', '0.351', '31', '0']
['8', '183', '64', '0', '0', '23.3', '0.672', '32', '1']
['1', '89', '66', '23', '94', '28.1', '0.167', '21', '0']
['0', '137', '40', '35', '168', '43.1', '2.288', '33', '1']
['5', '116', '74', '0', '0', '25.6', '0.201', '30', '0']
['3', '78', '50', '32', '88', '31.0', '0.248', '26', '1']
['10', '115', '0', '0', '0', '35.3', '0.134', '29', '0']
['2', '197', '70', '45', '543', '30.5', '0.158', '53', '1']
['8', '125', '96', '0', '0', '0.0', '0.232', '54', '1']
['4', '110', '92', '0', '0', '37.6', '0.191', '30', '0']
['10', '168', '74', '0', '0', '38.0', '0.537', '34', '1']
['10', '139', '80', '0', '0', '27.1', '1.441', '57', '0']
['1', '189', '60', '23', '846', '30.1', '0.398', '59', '1']
['5', '166', '72', '19', '175', '25.8', '0.587', '51', '1']
['7', '100', '0', '0', '0', '30.0', '0.484', '32', '1']
['0', '118', '84', '47', '230', '45.8', '0.551', '31', '1']
['7', '107', '74', '0', '0', '29.6', '0.254', '31', '1']
['1', '103', '30', '38', '83', '43.3', '0.183', '33', '0']
['1', '115', '70', '30', '96', '34.6', '0.529', '32', '1']
['3', '126', '88', '41', '235', '39.3', '0.704', '27', '0']
['8', '99', '84', '0', '0', '35.4', '0.388', '50', '0']
['7', '196', '90', '0', '0', '39.8', '0.451', '41', '1']
['9', '119', '80', '35', '0', '29.0', '0.263', '29', '1']
['11', '143', '94', '33', '146', '36.6', '0.254', '51', '1']
['10', '125', '70', '26', '115', '31.1', '0.205', '41', '1']
['7', '147', '76', '0', '0', '39.4', '0.257', '43', '1']
['1', '97', '66', '15', '140', '23.2', '0.487', '22', '0']
['13', '145', '82', '19', '110', '22.2', '0.245', '57', '0']
['5', '117', '92', '0', '0', '34.1', '0.337', '38', '0']
['5', '109', '75', '26', '0', '36.0', '0.546', '60', '0']
['3', '158', '76', '36', '245', '31.6', '0.851', '28', '1']
['3', '88', '58', '11', '54', '24.8', '0.267', '22', '0']
['6', '92', '92', '0', '0', '19.9', '0.188', '28', '0']
['10', '122', '78', '31', '0', '27.6', '0.512', '45', '0']
['4', '103', '60', '33', '192', '24.0', '0.966', '33', '0']
['11', '138', '76', '0', '0', '33.2', '0.420', '35', '0']
['9', '102', '76', '37', '0', '32.9', '0.665', '46', '1']
['2', '90', '68', '42', '0', '38.2', '0.503', '27', '1']
['4', '111', '72', '47', '207', '37.1', '1.390', '56', '1']
['3', '180', '64', '25', '70', '34.0', '0.271', '26', '0']
['7', '133', '84', '0', '0', '40.2', '0.696', '37', '0']
['7', '106', '92', '18', '0', '22.7', '0.235', '48', '0']
['9', '171', '110', '24', '240', '45.4', '0.721', '54', '1']
['7', '159', '64', '0', '0', '27.4', '0.294', '40', '0']
['0', '180', '66', '39', '0', '42.0', '1.893', '25', '1']
['1', '146', '56', '0', '0', '29.7', '0.564', '29', '0']
['2', '71', '70', '27', '0', '28.0', '0.586', '22', '0']
['7', '103', '66', '32', '0', '39.1', '0.344', '31', '1']
['7', '105', '0', '0', '0', '0.0', '0.305', '24', '0']
['1', '103', '80', '11', '82', '19.4', '0.491', '22', '0']
['1', '101', '50', '15', '36', '24.2', '0.526', '26', '0']
['5', '88', '66', '21', '23', '24.4', '0.342', '30', '0']
['8', '176', '90', '34', '300', '33.7', '0.467', '58', '1']
['7', '150', '66', '42', '342', '34.7', '0.718', '42', '0']
['1', '73', '50', '10', '0', '23.0', '0.248', '21', '0']
['7', '187', '68', '39', '304', '37.7', '0.254', '41', '1']
['0', '100', '88', '60', '110', '46.8', '0.962', '31', '0']
['0', '146', '82', '0', '0', '40.5', '1.781', '44', '0']
['0', '105', '64', '41', '142', '41.5', '0.173', '22', '0']
['2', '84', '0', '0', '0', '0.0', '0.304', '21', '0']
['8', '133', '72', '0', '0', '32.9', '0.270', '39', '1']
['5', '44', '62', '0', '0', '25.0', '0.587', '36', '0']
['2', '141', '58', '34', '128', '25.4', '0.699', '24', '0']
['7', '114', '66', '0', '0', '32.8', '0.258', '42', '1']
['5', '99', '74', '27', '0', '29.0', '0.203', '32', '0']
['0', '109', '88', '30', '0', '32.5', '0.855', '38', '1']
['2', '109', '92', '0', '0', '42.7', '0.845', '54', '0']
['1', '95', '66', '13', '38', '19.6', '0.334', '25', '0']
['4', '146', '85', '27', '100', '28.9', '0.189', '27', '0']
['2', '100', '66', '20', '90', '32.9', '0.867', '28', '1']
['5', '139', '64', '35', '140', '28.6', '0.411', '26', '0']
['13', '126', '90', '0', '0', '43.4', '0.583', '42', '1']
['4', '129', '86', '20', '270', '35.1', '0.231', '23', '0']
['1', '79', '75', '30', '0', '32.0', '0.396', '22', '0']
['1', '0', '48', '20', '0', '24.7', '0.140', '22', '0']
['7', '62', '78', '0', '0', '32.6', '0.391', '41', '0']
['5', '95', '72', '33', '0', '37.7', '0.370', '27', '0']
['0', '131', '0', '0', '0', '43.2', '0.270', '26', '1']
['2', '112', '66', '22', '0', '25.0', '0.307', '24', '0']
['3', '113', '44', '13', '0', '22.4', '0.140', '22', '0']
['2', '74', '0', '0', '0', '0.0', '0.102', '22', '0']
['7', '83', '78', '26', '71', '29.3', '0.767', '36', '0']
['0', '101', '65', '28', '0', '24.6', '0.237', '22', '0']
['5', '137', '108', '0', '0', '48.8', '0.227', '37', '1']
['2', '110', '74', '29', '125', '32.4', '0.698', '27', '0']
['13', '106', '72', '54', '0', '36.6', '0.178', '45', '0']
['2', '100', '68', '25', '71', '38.5', '0.324', '26', '0']
['15', '136', '70', '32', '110', '37.1', '0.153', '43', '1']
['1', '107', '68', '19', '0', '26.5', '0.165', '24', '0']
['1', '80', '55', '0', '0', '19.1', '0.258', '21', '0']
['4', '123', '80', '15', '176', '32.0', '0.443', '34', '0']
['7', '81', '78', '40', '48', '46.7', '0.261', '42', '0']
['4', '134', '72', '0', '0', '23.8', '0.277', '60', '1']
['2', '142', '82', '18', '64', '24.7', '0.761', '21', '0']
['6', '144', '72', '27', '228', '33.9', '0.255', '40', '0']
['2', '92', '62', '28', '0', '31.6', '0.130', '24', '0']
['1', '71', '48', '18', '76', '20.4', '0.323', '22', '0']
['6', '93', '50', '30', '64', '28.7', '0.356', '23', '0']
['1', '122', '90', '51', '220', '49.7', '0.325', '31', '1']
['1', '163', '72', '0', '0', '39.0', '1.222', '33', '1']
['1', '151', '60', '0', '0', '26.1', '0.179', '22', '0']
['0', '125', '96', '0', '0', '22.5', '0.262', '21', '0']
['1', '81', '72', '18', '40', '26.6', '0.283', '24', '0']
['2', '85', '65', '0', '0', '39.6', '0.930', '27', '0']
['1', '126', '56', '29', '152', '28.7', '0.801', '21', '0']
['1', '96', '122', '0', '0', '22.4', '0.207', '27', '0']
['4', '144', '58', '28', '140', '29.5', '0.287', '37', '0']
['3', '83', '58', '31', '18', '34.3', '0.336', '25', '0']
['0', '95', '85', '25', '36', '37.4', '0.247', '24', '1']
['3', '171', '72', '33', '135', '33.3', '0.199', '24', '1']
['8', '155', '62', '26', '495', '34.0', '0.543', '46', '1']
['1', '89', '76', '34', '37', '31.2', '0.192', '23', '0']
['4', '76', '62', '0', '0', '34.0', '0.391', '25', '0']
['7', '160', '54', '32', '175', '30.5', '0.588', '39', '1']
['4', '146', '92', '0', '0', '31.2', '0.539', '61', '1']
['5', '124', '74', '0', '0', '34.0', '0.220', '38', '1']
['5', '78', '48', '0', '0', '33.7', '0.654', '25', '0']
['4', '97', '60', '23', '0', '28.2', '0.443', '22', '0']
['4', '99', '76', '15', '51', '23.2', '0.223', '21', '0']
['0', '162', '76', '56', '100', '53.2', '0.759', '25', '1']
['6', '111', '64', '39', '0', '34.2', '0.260', '24', '0']
['2', '107', '74', '30', '100', '33.6', '0.404', '23', '0']
['5', '132', '80', '0', '0', '26.8', '0.186', '69', '0']
['0', '113', '76', '0', '0', '33.3', '0.278', '23', '1']
['1', '88', '30', '42', '99', '55.0', '0.496', '26', '1']
['3', '120', '70', '30', '135', '42.9', '0.452', '30', '0']
['1', '118', '58', '36', '94', '33.3', '0.261', '23', '0']
['1', '117', '88', '24', '145', '34.5', '0.403', '40', '1']
['0', '105', '84', '0', '0', '27.9', '0.741', '62', '1']
['4', '173', '70', '14', '168', '29.7', '0.361', '33', '1']
['9', '122', '56', '0', '0', '33.3', '1.114', '33', '1']
['3', '170', '64', '37', '225', '34.5', '0.356', '30', '1']
['8', '84', '74', '31', '0', '38.3', '0.457', '39', '0']
['2', '96', '68', '13', '49', '21.1', '0.647', '26', '0']
['2', '125', '60', '20', '140', '33.8', '0.088', '31', '0']
['0', '100', '70', '26', '50', '30.8', '0.597', '21', '0']
['0', '93', '60', '25', '92', '28.7', '0.532', '22', '0']
['0', '129', '80', '0', '0', '31.2', '0.703', '29', '0']
['5', '105', '72', '29', '325', '36.9', '0.159', '28', '0']
['3', '128', '78', '0', '0', '21.1', '0.268', '55', '0']
['5', '106', '82', '30', '0', '39.5', '0.286', '38', '0']
['2', '108', '52', '26', '63', '32.5', '0.318', '22', '0']
['10', '108', '66', '0', '0', '32.4', '0.272', '42', '1']
['4', '154', '62', '31', '284', '32.8', '0.237', '23', '0']
['0', '102', '75', '23', '0', '0.0', '0.572', '21', '0']
['9', '57', '80', '37', '0', '32.8', '0.096', '41', '0']
['2', '106', '64', '35', '119', '30.5', '1.400', '34', '0']
['5', '147', '78', '0', '0', '33.7', '0.218', '65', '0']
['2', '90', '70', '17', '0', '27.3', '0.085', '22', '0']
['1', '136', '74', '50', '204', '37.4', '0.399', '24', '0']
['4', '114', '65', '0', '0', '21.9', '0.432', '37', '0']
['9', '156', '86', '28', '155', '34.3', '1.189', '42', '1']
['1', '153', '82', '42', '485', '40.6', '0.687', '23', '0']
['8', '188', '78', '0', '0', '47.9', '0.137', '43', '1']
['7', '152', '88', '44', '0', '50.0', '0.337', '36', '1']
['2', '99', '52', '15', '94', '24.6', '0.637', '21', '0']
['1', '109', '56', '21', '135', '25.2', '0.833', '23', '0']
['2', '88', '74', '19', '53', '29.0', '0.229', '22', '0']
['17', '163', '72', '41', '114', '40.9', '0.817', '47', '1']
['4', '151', '90', '38', '0', '29.7', '0.294', '36', '0']
['7', '102', '74', '40', '105', '37.2', '0.204', '45', '0']
['0', '114', '80', '34', '285', '44.2', '0.167', '27', '0']
['2', '100', '64', '23', '0', '29.7', '0.368', '21', '0']
['0', '131', '88', '0', '0', '31.6', '0.743', '32', '1']
['6', '104', '74', '18', '156', '29.9', '0.722', '41', '1']
['3', '148', '66', '25', '0', '32.5', '0.256', '22', '0']
['4', '120', '68', '0', '0', '29.6', '0.709', '34', '0']
['4', '110', '66', '0', '0', '31.9', '0.471', '29', '0']
['3', '111', '90', '12', '78', '28.4', '0.495', '29', '0']
['6', '102', '82', '0', '0', '30.8', '0.180', '36', '1']
['6', '134', '70', '23', '130', '35.4', '0.542', '29', '1']
['2', '87', '0', '23', '0', '28.9', '0.773', '25', '0']
['1', '79', '60', '42', '48', '43.5', '0.678', '23', '0']
['2', '75', '64', '24', '55', '29.7', '0.370', '33', '0']
['8', '179', '72', '42', '130', '32.7', '0.719', '36', '1']
['6', '85', '78', '0', '0', '31.2', '0.382', '42', '0']
['0', '129', '110', '46', '130', '67.1', '0.319', '26', '1']
['5', '143', '78', '0', '0', '45.0', '0.190', '47', '0']
['5', '130', '82', '0', '0', '39.1', '0.956', '37', '1']
['6', '87', '80', '0', '0', '23.2', '0.084', '32', '0']
['0', '119', '64', '18', '92', '34.9', '0.725', '23', '0']
['1', '0', '74', '20', '23', '27.7', '0.299', '21', '0']
['5', '73', '60', '0', '0', '26.8', '0.268', '27', '0']
['4', '141', '74', '0', '0', '27.6', '0.244', '40', '0']
['7', '194', '68', '28', '0', '35.9', '0.745', '41', '1']
['8', '181', '68', '36', '495', '30.1', '0.615', '60', '1']
['1', '128', '98', '41', '58', '32.0', '1.321', '33', '1']
['8', '109', '76', '39', '114', '27.9', '0.640', '31', '1']
['5', '139', '80', '35', '160', '31.6', '0.361', '25', '1']
['3', '111', '62', '0', '0', '22.6', '0.142', '21', '0']
['9', '123', '70', '44', '94', '33.1', '0.374', '40', '0']
['7', '159', '66', '0', '0', '30.4', '0.383', '36', '1']
['11', '135', '0', '0', '0', '52.3', '0.578', '40', '1']
['8', '85', '55', '20', '0', '24.4', '0.136', '42', '0']
['5', '158', '84', '41', '210', '39.4', '0.395', '29', '1']
['1', '105', '58', '0', '0', '24.3', '0.187', '21', '0']
['3', '107', '62', '13', '48', '22.9', '0.678', '23', '1']
['4', '109', '64', '44', '99', '34.8', '0.905', '26', '1']
['4', '148', '60', '27', '318', '30.9', '0.150', '29', '1']
['0', '113', '80', '16', '0', '31.0', '0.874', '21', '0']
['1', '138', '82', '0', '0', '40.1', '0.236', '28', '0']
['0', '108', '68', '20', '0', '27.3', '0.787', '32', '0']
['2', '99', '70', '16', '44', '20.4', '0.235', '27', '0']
['6', '103', '72', '32', '190', '37.7', '0.324', '55', '0']
['5', '111', '72', '28', '0', '23.9', '0.407', '27', '0']
['8', '196', '76', '29', '280', '37.5', '0.605', '57', '1']
['5', '162', '104', '0', '0', '37.7', '0.151', '52', '1']
['1', '96', '64', '27', '87', '33.2', '0.289', '21', '0']
['7', '184', '84', '33', '0', '35.5', '0.355', '41', '1']
['2', '81', '60', '22', '0', '27.7', '0.290', '25', '0']
['0', '147', '85', '54', '0', '42.8', '0.375', '24', '0']
['7', '179', '95', '31', '0', '34.2', '0.164', '60', '0']
['0', '140', '65', '26', '130', '42.6', '0.431', '24', '1']
['9', '112', '82', '32', '175', '34.2', '0.260', '36', '1']
['12', '151', '70', '40', '271', '41.8', '0.742', '38', '1']
['5', '109', '62', '41', '129', '35.8', '0.514', '25', '1']
['6', '125', '68', '30', '120', '30.0', '0.464', '32', '0']
['5', '85', '74', '22', '0', '29.0', '1.224', '32', '1']
['5', '112', '66', '0', '0', '37.8', '0.261', '41', '1']
['0', '177', '60', '29', '478', '34.6', '1.072', '21', '1']
['2', '158', '90', '0', '0', '31.6', '0.805', '66', '1']
['7', '119', '0', '0', '0', '25.2', '0.209', '37', '0']
['7', '142', '60', '33', '190', '28.8', '0.687', '61', '0']
['1', '100', '66', '15', '56', '23.6', '0.666', '26', '0']
['1', '87', '78', '27', '32', '34.6', '0.101', '22', '0']
['0', '101', '76', '0', '0', '35.7', '0.198', '26', '0']
['3', '162', '52', '38', '0', '37.2', '0.652', '24', '1']
['4', '197', '70', '39', '744', '36.7', '2.329', '31', '0']
['0', '117', '80', '31', '53', '45.2', '0.089', '24', '0']
['4', '142', '86', '0', '0', '44.0', '0.645', '22', '1']
['6', '134', '80', '37', '370', '46.2', '0.238', '46', '1']
['1', '79', '80', '25', '37', '25.4', '0.583', '22', '0']
['4', '122', '68', '0', '0', '35.0', '0.394', '29', '0']
['3', '74', '68', '28', '45', '29.7', '0.293', '23', '0']
['4', '171', '72', '0', '0', '43.6', '0.479', '26', '1']
['7', '181', '84', '21', '192', '35.9', '0.586', '51', '1']
['0', '179', '90', '27', '0', '44.1', '0.686', '23', '1']
['9', '164', '84', '21', '0', '30.8', '0.831', '32', '1']
['0', '104', '76', '0', '0', '18.4', '0.582', '27', '0']
['1', '91', '64', '24', '0', '29.2', '0.192', '21', '0']
['4', '91', '70', '32', '88', '33.1', '0.446', '22', '0']
['3', '139', '54', '0', '0', '25.6', '0.402', '22', '1']
['6', '119', '50', '22', '176', '27.1', '1.318', '33', '1']
['2', '146', '76', '35', '194', '38.2', '0.329', '29', '0']
['9', '184', '85', '15', '0', '30.0', '1.213', '49', '1']
['10', '122', '68', '0', '0', '31.2', '0.258', '41', '0']
['0', '165', '90', '33', '680', '52.3', '0.427', '23', '0']
['9', '124', '70', '33', '402', '35.4', '0.282', '34', '0']
['1', '111', '86', '19', '0', '30.1', '0.143', '23', '0']
['9', '106', '52', '0', '0', '31.2', '0.380', '42', '0']
['2', '129', '84', '0', '0', '28.0', '0.284', '27', '0']
['2', '90', '80', '14', '55', '24.4', '0.249', '24', '0']
['0', '86', '68', '32', '0', '35.8', '0.238', '25', '0']
['12', '92', '62', '7', '258', '27.6', '0.926', '44', '1']
['1', '113', '64', '35', '0', '33.6', '0.543', '21', '1']
['3', '111', '56', '39', '0', '30.1', '0.557', '30', '0']
['2', '114', '68', '22', '0', '28.7', '0.092', '25', '0']
['1', '193', '50', '16', '375', '25.9', '0.655', '24', '0']
['11', '155', '76', '28', '150', '33.3', '1.353', '51', '1']
['3', '191', '68', '15', '130', '30.9', '0.299', '34', '0']
['3', '141', '0', '0', '0', '30.0', '0.761', '27', '1']
['4', '95', '70', '32', '0', '32.1', '0.612', '24', '0']
['3', '142', '80', '15', '0', '32.4', '0.200', '63', '0']
['4', '123', '62', '0', '0', '32.0', '0.226', '35', '1']
['5', '96', '74', '18', '67', '33.6', '0.997', '43', '0']
['0', '138', '0', '0', '0', '36.3', '0.933', '25', '1']
['2', '128', '64', '42', '0', '40.0', '1.101', '24', '0']
['0', '102', '52', '0', '0', '25.1', '0.078', '21', '0']
['2', '146', '0', '0', '0', '27.5', '0.240', '28', '1']
['10', '101', '86', '37', '0', '45.6', '1.136', '38', '1']
['2', '108', '62', '32', '56', '25.2', '0.128', '21', '0']
['3', '122', '78', '0', '0', '23.0', '0.254', '40', '0']
['1', '71', '78', '50', '45', '33.2', '0.422', '21', '0']
['13', '106', '70', '0', '0', '34.2', '0.251', '52', '0']
['2', '100', '70', '52', '57', '40.5', '0.677', '25', '0']
['7', '106', '60', '24', '0', '26.5', '0.296', '29', '1']
['0', '104', '64', '23', '116', '27.8', '0.454', '23', '0']
['5', '114', '74', '0', '0', '24.9', '0.744', '57', '0']
['2', '108', '62', '10', '278', '25.3', '0.881', '22', '0']
['0', '146', '70', '0', '0', '37.9', '0.334', '28', '1']
['10', '129', '76', '28', '122', '35.9', '0.280', '39', '0']
['7', '133', '88', '15', '155', '32.4', '0.262', '37', '0']
['7', '161', '86', '0', '0', '30.4', '0.165', '47', '1']
['2', '108', '80', '0', '0', '27.0', '0.259', '52', '1']
['7', '136', '74', '26', '135', '26.0', '0.647', '51', '0']
['5', '155', '84', '44', '545', '38.7', '0.619', '34', '0']
['1', '119', '86', '39', '220', '45.6', '0.808', '29', '1']
['4', '96', '56', '17', '49', '20.8', '0.340', '26', '0']
['5', '108', '72', '43', '75', '36.1', '0.263', '33', '0']
['0', '78', '88', '29', '40', '36.9', '0.434', '21', '0']
['0', '107', '62', '30', '74', '36.6', '0.757', '25', '1']
['2', '128', '78', '37', '182', '43.3', '1.224', '31', '1']
['1', '128', '48', '45', '194', '40.5', '0.613', '24', '1']
['0', '161', '50', '0', '0', '21.9', '0.254', '65', '0']
['6', '151', '62', '31', '120', '35.5', '0.692', '28', '0']
['2', '146', '70', '38', '360', '28.0', '0.337', '29', '1']
['0', '126', '84', '29', '215', '30.7', '0.520', '24', '0']
['14', '100', '78', '25', '184', '36.6', '0.412', '46', '1']
['8', '112', '72', '0', '0', '23.6', '0.840', '58', '0']
['0', '167', '0', '0', '0', '32.3', '0.839', '30', '1']
['2', '144', '58', '33', '135', '31.6', '0.422', '25', '1']
['5', '77', '82', '41', '42', '35.8', '0.156', '35', '0']
['5', '115', '98', '0', '0', '52.9', '0.209', '28', '1']
['3', '150', '76', '0', '0', '21.0', '0.207', '37', '0']
['2', '120', '76', '37', '105', '39.7', '0.215', '29', '0']
['10', '161', '68', '23', '132', '25.5', '0.326', '47', '1']
['0', '137', '68', '14', '148', '24.8', '0.143', '21', '0']
['0', '128', '68', '19', '180', '30.5', '1.391', '25', '1']
['2', '124', '68', '28', '205', '32.9', '0.875', '30', '1']
['6', '80', '66', '30', '0', '26.2', '0.313', '41', '0']
['0', '106', '70', '37', '148', '39.4', '0.605', '22', '0']
['2', '155', '74', '17', '96', '26.6', '0.433', '27', '1']
['3', '113', '50', '10', '85', '29.5', '0.626', '25', '0']
['7', '109', '80', '31', '0', '35.9', '1.127', '43', '1']
['2', '112', '68', '22', '94', '34.1', '0.315', '26', '0']
['3', '99', '80', '11', '64', '19.3', '0.284', '30', '0']
['3', '182', '74', '0', '0', '30.5', '0.345', '29', '1']
['3', '115', '66', '39', '140', '38.1', '0.150', '28', '0']
['6', '194', '78', '0', '0', '23.5', '0.129', '59', '1']
['4', '129', '60', '12', '231', '27.5', '0.527', '31', '0']
['3', '112', '74', '30', '0', '31.6', '0.197', '25', '1']
['0', '124', '70', '20', '0', '27.4', '0.254', '36', '1']
['13', '152', '90', '33', '29', '26.8', '0.731', '43', '1']
['2', '112', '75', '32', '0', '35.7', '0.148', '21', '0']
['1', '157', '72', '21', '168', '25.6', '0.123', '24', '0']
['1', '122', '64', '32', '156', '35.1', '0.692', '30', '1']
['10', '179', '70', '0', '0', '35.1', '0.200', '37', '0']
['2', '102', '86', '36', '120', '45.5', '0.127', '23', '1']
['6', '105', '70', '32', '68', '30.8', '0.122', '37', '0']
['8', '118', '72', '19', '0', '23.1', '1.476', '46', '0']
['2', '87', '58', '16', '52', '32.7', '0.166', '25', '0']
['1', '180', '0', '0', '0', '43.3', '0.282', '41', '1']
['12', '106', '80', '0', '0', '23.6', '0.137', '44', '0']
['1', '95', '60', '18', '58', '23.9', '0.260', '22', '0']
['0', '165', '76', '43', '255', '47.9', '0.259', '26', '0']
['0', '117', '0', '0', '0', '33.8', '0.932', '44', '0']
['5', '115', '76', '0', '0', '31.2', '0.343', '44', '1']
['9', '152', '78', '34', '171', '34.2', '0.893', '33', '1']
['7', '178', '84', '0', '0', '39.9', '0.331', '41', '1']
['1', '130', '70', '13', '105', '25.9', '0.472', '22', '0']
['1', '95', '74', '21', '73', '25.9', '0.673', '36', '0']

In [12]:
# Writting a function to load a csv data
def load_csv(filename):
    dataset =  list()
    with open(filename, "r") as file:
        csv_reader = reader(file)
        for row in csv_reader:
            if not row:
                continue
            dataset.append(row)
    return dataset

# filename 

filename = "pima-indians-diabetes.data.csv"
final_dataset = load_csv(filename)
print(f"There are {len(final_dataset)} number of Rows and {len(final_dataset[0])} number of Columns")

There are 768 number of Rows and 9 number of Columns

In [13]:
print(final_dataset)

[['6', '148', '72', '35', '0', '33.6', '0.627', '50', '1'], ['1', '85', '66', '29', '0', '26.6', '0.351', '31', '0'], ['8', '183', '64', '0', '0', '23.3', '0.672', '32', '1'], ['1', '89', '66', '23', '94', '28.1', '0.167', '21', '0'], ['0', '137', '40', '35', '168', '43.1', '2.288', '33', '1'], ['5', '116', '74', '0', '0', '25.6', '0.201', '30', '0'], ['3', '78', '50', '32', '88', '31.0', '0.248', '26', '1'], ['10', '115', '0', '0', '0', '35.3', '0.134', '29', '0'], ['2', '197', '70', '45', '543', '30.5', '0.158', '53', '1'], ['8', '125', '96', '0', '0', '0.0', '0.232', '54', '1'], ['4', '110', '92', '0', '0', '37.6', '0.191', '30', '0'], ['10', '168', '74', '0', '0', '38.0', '0.537', '34', '1'], ['10', '139', '80', '0', '0', '27.1', '1.441', '57', '0'], ['1', '189', '60', '23', '846', '30.1', '0.398', '59', '1'], ['5', '166', '72', '19', '175', '25.8', '0.587', '51', '1'], ['7', '100', '0', '0', '0', '30.0', '0.484', '32', '1'], ['0', '118', '84', '47', '230', '45.8', '0.551', '31', '1'], ['7', '107', '74', '0', '0', '29.6', '0.254', '31', '1'], ['1', '103', '30', '38', '83', '43.3', '0.183', '33', '0'], ['1', '115', '70', '30', '96', '34.6', '0.529', '32', '1'], ['3', '126', '88', '41', '235', '39.3', '0.704', '27', '0'], ['8', '99', '84', '0', '0', '35.4', '0.388', '50', '0'], ['7', '196', '90', '0', '0', '39.8', '0.451', '41', '1'], ['9', '119', '80', '35', '0', '29.0', '0.263', '29', '1'], ['11', '143', '94', '33', '146', '36.6', '0.254', '51', '1'], ['10', '125', '70', '26', '115', '31.1', '0.205', '41', '1'], ['7', '147', '76', '0', '0', '39.4', '0.257', '43', '1'], ['1', '97', '66', '15', '140', '23.2', '0.487', '22', '0'], ['13', '145', '82', '19', '110', '22.2', '0.245', '57', '0'], ['5', '117', '92', '0', '0', '34.1', '0.337', '38', '0'], ['5', '109', '75', '26', '0', '36.0', '0.546', '60', '0'], ['3', '158', '76', '36', '245', '31.6', '0.851', '28', '1'], ['3', '88', '58', '11', '54', '24.8', '0.267', '22', '0'], ['6', '92', '92', '0', '0', '19.9', '0.188', '28', '0'], ['10', '122', '78', '31', '0', '27.6', '0.512', '45', '0'], ['4', '103', '60', '33', '192', '24.0', '0.966', '33', '0'], ['11', '138', '76', '0', '0', '33.2', '0.420', '35', '0'], ['9', '102', '76', '37', '0', '32.9', '0.665', '46', '1'], ['2', '90', '68', '42', '0', '38.2', '0.503', '27', '1'], ['4', '111', '72', '47', '207', '37.1', '1.390', '56', '1'], ['3', '180', '64', '25', '70', '34.0', '0.271', '26', '0'], ['7', '133', '84', '0', '0', '40.2', '0.696', '37', '0'], ['7', '106', '92', '18', '0', '22.7', '0.235', '48', '0'], ['9', '171', '110', '24', '240', '45.4', '0.721', '54', '1'], ['7', '159', '64', '0', '0', '27.4', '0.294', '40', '0'], ['0', '180', '66', '39', '0', '42.0', '1.893', '25', '1'], ['1', '146', '56', '0', '0', '29.7', '0.564', '29', '0'], ['2', '71', '70', '27', '0', '28.0', '0.586', '22', '0'], ['7', '103', '66', '32', '0', '39.1', '0.344', '31', '1'], ['7', '105', '0', '0', '0', '0.0', '0.305', '24', '0'], ['1', '103', '80', '11', '82', '19.4', '0.491', '22', '0'], ['1', '101', '50', '15', '36', '24.2', '0.526', '26', '0'], ['5', '88', '66', '21', '23', '24.4', '0.342', '30', '0'], ['8', '176', '90', '34', '300', '33.7', '0.467', '58', '1'], ['7', '150', '66', '42', '342', '34.7', '0.718', '42', '0'], ['1', '73', '50', '10', '0', '23.0', '0.248', '21', '0'], ['7', '187', '68', '39', '304', '37.7', '0.254', '41', '1'], ['0', '100', '88', '60', '110', '46.8', '0.962', '31', '0'], ['0', '146', '82', '0', '0', '40.5', '1.781', '44', '0'], ['0', '105', '64', '41', '142', '41.5', '0.173', '22', '0'], ['2', '84', '0', '0', '0', '0.0', '0.304', '21', '0'], ['8', '133', '72', '0', '0', '32.9', '0.270', '39', '1'], ['5', '44', '62', '0', '0', '25.0', '0.587', '36', '0'], ['2', '141', '58', '34', '128', '25.4', '0.699', '24', '0'], ['7', '114', '66', '0', '0', '32.8', '0.258', '42', '1'], ['5', '99', '74', '27', '0', '29.0', '0.203', '32', '0'], ['0', '109', '88', '30', '0', '32.5', '0.855', '38', '1'], ['2', '109', '92', '0', '0', '42.7', '0.845', '54', '0'], ['1', '95', '66', '13', '38', '19.6', '0.334', '25', '0'], ['4', '146', '85', '27', '100', '28.9', '0.189', '27', '0'], ['2', '100', '66', '20', '90', '32.9', '0.867', '28', '1'], ['5', '139', '64', '35', '140', '28.6', '0.411', '26', '0'], ['13', '126', '90', '0', '0', '43.4', '0.583', '42', '1'], ['4', '129', '86', '20', '270', '35.1', '0.231', '23', '0'], ['1', '79', '75', '30', '0', '32.0', '0.396', '22', '0'], ['1', '0', '48', '20', '0', '24.7', '0.140', '22', '0'], ['7', '62', '78', '0', '0', '32.6', '0.391', '41', '0'], ['5', '95', '72', '33', '0', '37.7', '0.370', '27', '0'], ['0', '131', '0', '0', '0', '43.2', '0.270', '26', '1'], ['2', '112', '66', '22', '0', '25.0', '0.307', '24', '0'], ['3', '113', '44', '13', '0', '22.4', '0.140', '22', '0'], ['2', '74', '0', '0', '0', '0.0', '0.102', '22', '0'], ['7', '83', '78', '26', '71', '29.3', '0.767', '36', '0'], ['0', '101', '65', '28', '0', '24.6', '0.237', '22', '0'], ['5', '137', '108', '0', '0', '48.8', '0.227', '37', '1'], ['2', '110', '74', '29', '125', '32.4', '0.698', '27', '0'], ['13', '106', '72', '54', '0', '36.6', '0.178', '45', '0'], ['2', '100', '68', '25', '71', '38.5', '0.324', '26', '0'], ['15', '136', '70', '32', '110', '37.1', '0.153', '43', '1'], ['1', '107', '68', '19', '0', '26.5', '0.165', '24', '0'], ['1', '80', '55', '0', '0', '19.1', '0.258', '21', '0'], ['4', '123', '80', '15', '176', '32.0', '0.443', '34', '0'], ['7', '81', '78', '40', '48', '46.7', '0.261', '42', '0'], ['4', '134', '72', '0', '0', '23.8', '0.277', '60', '1'], ['2', '142', '82', '18', '64', '24.7', '0.761', '21', '0'], ['6', '144', '72', '27', '228', '33.9', '0.255', '40', '0'], ['2', '92', '62', '28', '0', '31.6', '0.130', '24', '0'], ['1', '71', '48', '18', '76', '20.4', '0.323', '22', '0'], ['6', '93', '50', '30', '64', '28.7', '0.356', '23', '0'], ['1', '122', '90', '51', '220', '49.7', '0.325', '31', '1'], ['1', '163', '72', '0', '0', '39.0', '1.222', '33', '1'], ['1', '151', '60', '0', '0', '26.1', '0.179', '22', '0'], ['0', '125', '96', '0', '0', '22.5', '0.262', '21', '0'], ['1', '81', '72', '18', '40', '26.6', '0.283', '24', '0'], ['2', '85', '65', '0', '0', '39.6', '0.930', '27', '0'], ['1', '126', '56', '29', '152', '28.7', '0.801', '21', '0'], ['1', '96', '122', '0', '0', '22.4', '0.207', '27', '0'], ['4', '144', '58', '28', '140', '29.5', '0.287', '37', '0'], ['3', '83', '58', '31', '18', '34.3', '0.336', '25', '0'], ['0', '95', '85', '25', '36', '37.4', '0.247', '24', '1'], ['3', '171', '72', '33', '135', '33.3', '0.199', '24', '1'], ['8', '155', '62', '26', '495', '34.0', '0.543', '46', '1'], ['1', '89', '76', '34', '37', '31.2', '0.192', '23', '0'], ['4', '76', '62', '0', '0', '34.0', '0.391', '25', '0'], ['7', '160', '54', '32', '175', '30.5', '0.588', '39', '1'], ['4', '146', '92', '0', '0', '31.2', '0.539', '61', '1'], ['5', '124', '74', '0', '0', '34.0', '0.220', '38', '1'], ['5', '78', '48', '0', '0', '33.7', '0.654', '25', '0'], ['4', '97', '60', '23', '0', '28.2', '0.443', '22', '0'], ['4', '99', '76', '15', '51', '23.2', '0.223', '21', '0'], ['0', '162', '76', '56', '100', '53.2', '0.759', '25', '1'], ['6', '111', '64', '39', '0', '34.2', '0.260', '24', '0'], ['2', '107', '74', '30', '100', '33.6', '0.404', '23', '0'], ['5', '132', '80', '0', '0', '26.8', '0.186', '69', '0'], ['0', '113', '76', '0', '0', '33.3', '0.278', '23', '1'], ['1', '88', '30', '42', '99', '55.0', '0.496', '26', '1'], ['3', '120', '70', '30', '135', '42.9', '0.452', '30', '0'], ['1', '118', '58', '36', '94', '33.3', '0.261', '23', '0'], ['1', '117', '88', '24', '145', '34.5', '0.403', '40', '1'], ['0', '105', '84', '0', '0', '27.9', '0.741', '62', '1'], ['4', '173', '70', '14', '168', '29.7', '0.361', '33', '1'], ['9', '122', '56', '0', '0', '33.3', '1.114', '33', '1'], ['3', '170', '64', '37', '225', '34.5', '0.356', '30', '1'], ['8', '84', '74', '31', '0', '38.3', '0.457', '39', '0'], ['2', '96', '68', '13', '49', '21.1', '0.647', '26', '0'], ['2', '125', '60', '20', '140', '33.8', '0.088', '31', '0'], ['0', '100', '70', '26', '50', '30.8', '0.597', '21', '0'], ['0', '93', '60', '25', '92', '28.7', '0.532', '22', '0'], ['0', '129', '80', '0', '0', '31.2', '0.703', '29', '0'], ['5', '105', '72', '29', '325', '36.9', '0.159', '28', '0'], ['3', '128', '78', '0', '0', '21.1', '0.268', '55', '0'], ['5', '106', '82', '30', '0', '39.5', '0.286', '38', '0'], ['2', '108', '52', '26', '63', '32.5', '0.318', '22', '0'], ['10', '108', '66', '0', '0', '32.4', '0.272', '42', '1'], ['4', '154', '62', '31', '284', '32.8', '0.237', '23', '0'], ['0', '102', '75', '23', '0', '0.0', '0.572', '21', '0'], ['9', '57', '80', '37', '0', '32.8', '0.096', '41', '0'], ['2', '106', '64', '35', '119', '30.5', '1.400', '34', '0'], ['5', '147', '78', '0', '0', '33.7', '0.218', '65', '0'], ['2', '90', '70', '17', '0', '27.3', '0.085', '22', '0'], ['1', '136', '74', '50', '204', '37.4', '0.399', '24', '0'], ['4', '114', '65', '0', '0', '21.9', '0.432', '37', '0'], ['9', '156', '86', '28', '155', '34.3', '1.189', '42', '1'], ['1', '153', '82', '42', '485', '40.6', '0.687', '23', '0'], ['8', '188', '78', '0', '0', '47.9', '0.137', '43', '1'], ['7', '152', '88', '44', '0', '50.0', '0.337', '36', '1'], ['2', '99', '52', '15', '94', '24.6', '0.637', '21', '0'], ['1', '109', '56', '21', '135', '25.2', '0.833', '23', '0'], ['2', '88', '74', '19', '53', '29.0', '0.229', '22', '0'], ['17', '163', '72', '41', '114', '40.9', '0.817', '47', '1'], ['4', '151', '90', '38', '0', '29.7', '0.294', '36', '0'], ['7', '102', '74', '40', '105', '37.2', '0.204', '45', '0'], ['0', '114', '80', '34', '285', '44.2', '0.167', '27', '0'], ['2', '100', '64', '23', '0', '29.7', '0.368', '21', '0'], ['0', '131', '88', '0', '0', '31.6', '0.743', '32', '1'], ['6', '104', '74', '18', '156', '29.9', '0.722', '41', '1'], ['3', '148', '66', '25', '0', '32.5', '0.256', '22', '0'], ['4', '120', '68', '0', '0', '29.6', '0.709', '34', '0'], ['4', '110', '66', '0', '0', '31.9', '0.471', '29', '0'], ['3', '111', '90', '12', '78', '28.4', '0.495', '29', '0'], ['6', '102', '82', '0', '0', '30.8', '0.180', '36', '1'], ['6', '134', '70', '23', '130', '35.4', '0.542', '29', '1'], ['2', '87', '0', '23', '0', '28.9', '0.773', '25', '0'], ['1', '79', '60', '42', '48', '43.5', '0.678', '23', '0'], ['2', '75', '64', '24', '55', '29.7', '0.370', '33', '0'], ['8', '179', '72', '42', '130', '32.7', '0.719', '36', '1'], ['6', '85', '78', '0', '0', '31.2', '0.382', '42', '0'], ['0', '129', '110', '46', '130', '67.1', '0.319', '26', '1'], ['5', '143', '78', '0', '0', '45.0', '0.190', '47', '0'], ['5', '130', '82', '0', '0', '39.1', '0.956', '37', '1'], ['6', '87', '80', '0', '0', '23.2', '0.084', '32', '0'], ['0', '119', '64', '18', '92', '34.9', '0.725', '23', '0'], ['1', '0', '74', '20', '23', '27.7', '0.299', '21', '0'], ['5', '73', '60', '0', '0', '26.8', '0.268', '27', '0'], ['4', '141', '74', '0', '0', '27.6', '0.244', '40', '0'], ['7', '194', '68', '28', '0', '35.9', '0.745', '41', '1'], ['8', '181', '68', '36', '495', '30.1', '0.615', '60', '1'], ['1', '128', '98', '41', '58', '32.0', '1.321', '33', '1'], ['8', '109', '76', '39', '114', '27.9', '0.640', '31', '1'], ['5', '139', '80', '35', '160', '31.6', '0.361', '25', '1'], ['3', '111', '62', '0', '0', '22.6', '0.142', '21', '0'], ['9', '123', '70', '44', '94', '33.1', '0.374', '40', '0'], ['7', '159', '66', '0', '0', '30.4', '0.383', '36', '1'], ['11', '135', '0', '0', '0', '52.3', '0.578', '40', '1'], ['8', '85', '55', '20', '0', '24.4', '0.136', '42', '0'], ['5', '158', '84', '41', '210', '39.4', '0.395', '29', '1'], ['1', '105', '58', '0', '0', '24.3', '0.187', '21', '0'], ['3', '107', '62', '13', '48', '22.9', '0.678', '23', '1'], ['4', '109', '64', '44', '99', '34.8', '0.905', '26', '1'], ['4', '148', '60', '27', '318', '30.9', '0.150', '29', '1'], ['0', '113', '80', '16', '0', '31.0', '0.874', '21', '0'], ['1', '138', '82', '0', '0', '40.1', '0.236', '28', '0'], ['0', '108', '68', '20', '0', '27.3', '0.787', '32', '0'], ['2', '99', '70', '16', '44', '20.4', '0.235', '27', '0'], ['6', '103', '72', '32', '190', '37.7', '0.324', '55', '0'], ['5', '111', '72', '28', '0', '23.9', '0.407', '27', '0'], ['8', '196', '76', '29', '280', '37.5', '0.605', '57', '1'], ['5', '162', '104', '0', '0', '37.7', '0.151', '52', '1'], ['1', '96', '64', '27', '87', '33.2', '0.289', '21', '0'], ['7', '184', '84', '33', '0', '35.5', '0.355', '41', '1'], ['2', '81', '60', '22', '0', '27.7', '0.290', '25', '0'], ['0', '147', '85', '54', '0', '42.8', '0.375', '24', '0'], ['7', '179', '95', '31', '0', '34.2', '0.164', '60', '0'], ['0', '140', '65', '26', '130', '42.6', '0.431', '24', '1'], ['9', '112', '82', '32', '175', '34.2', '0.260', '36', '1'], ['12', '151', '70', '40', '271', '41.8', '0.742', '38', '1'], ['5', '109', '62', '41', '129', '35.8', '0.514', '25', '1'], ['6', '125', '68', '30', '120', '30.0', '0.464', '32', '0'], ['5', '85', '74', '22', '0', '29.0', '1.224', '32', '1'], ['5', '112', '66', '0', '0', '37.8', '0.261', '41', '1'], ['0', '177', '60', '29', '478', '34.6', '1.072', '21', '1'], ['2', '158', '90', '0', '0', '31.6', '0.805', '66', '1'], ['7', '119', '0', '0', '0', '25.2', '0.209', '37', '0'], ['7', '142', '60', '33', '190', '28.8', '0.687', '61', '0'], ['1', '100', '66', '15', '56', '23.6', '0.666', '26', '0'], ['1', '87', '78', '27', '32', '34.6', '0.101', '22', '0'], ['0', '101', '76', '0', '0', '35.7', '0.198', '26', '0'], ['3', '162', '52', '38', '0', '37.2', '0.652', '24', '1'], ['4', '197', '70', '39', '744', '36.7', '2.329', '31', '0'], ['0', '117', '80', '31', '53', '45.2', '0.089', '24', '0'], ['4', '142', '86', '0', '0', '44.0', '0.645', '22', '1'], ['6', '134', '80', '37', '370', '46.2', '0.238', '46', '1'], ['1', '79', '80', '25', '37', '25.4', '0.583', '22', '0'], ['4', '122', '68', '0', '0', '35.0', '0.394', '29', '0'], ['3', '74', '68', '28', '45', '29.7', '0.293', '23', '0'], ['4', '171', '72', '0', '0', '43.6', '0.479', '26', '1'], ['7', '181', '84', '21', '192', '35.9', '0.586', '51', '1'], ['0', '179', '90', '27', '0', '44.1', '0.686', '23', '1'], ['9', '164', '84', '21', '0', '30.8', '0.831', '32', '1'], ['0', '104', '76', '0', '0', '18.4', '0.582', '27', '0'], ['1', '91', '64', '24', '0', '29.2', '0.192', '21', '0'], ['4', '91', '70', '32', '88', '33.1', '0.446', '22', '0'], ['3', '139', '54', '0', '0', '25.6', '0.402', '22', '1'], ['6', '119', '50', '22', '176', '27.1', '1.318', '33', '1'], ['2', '146', '76', '35', '194', '38.2', '0.329', '29', '0'], ['9', '184', '85', '15', '0', '30.0', '1.213', '49', '1'], ['10', '122', '68', '0', '0', '31.2', '0.258', '41', '0'], ['0', '165', '90', '33', '680', '52.3', '0.427', '23', '0'], ['9', '124', '70', '33', '402', '35.4', '0.282', '34', '0'], ['1', '111', '86', '19', '0', '30.1', '0.143', '23', '0'], ['9', '106', '52', '0', '0', '31.2', '0.380', '42', '0'], ['2', '129', '84', '0', '0', '28.0', '0.284', '27', '0'], ['2', '90', '80', '14', '55', '24.4', '0.249', '24', '0'], ['0', '86', '68', '32', '0', '35.8', '0.238', '25', '0'], ['12', '92', '62', '7', '258', '27.6', '0.926', '44', '1'], ['1', '113', '64', '35', '0', '33.6', '0.543', '21', '1'], ['3', '111', '56', '39', '0', '30.1', '0.557', '30', '0'], ['2', '114', '68', '22', '0', '28.7', '0.092', '25', '0'], ['1', '193', '50', '16', '375', '25.9', '0.655', '24', '0'], ['11', '155', '76', '28', '150', '33.3', '1.353', '51', '1'], ['3', '191', '68', '15', '130', '30.9', '0.299', '34', '0'], ['3', '141', '0', '0', '0', '30.0', '0.761', '27', '1'], ['4', '95', '70', '32', '0', '32.1', '0.612', '24', '0'], ['3', '142', '80', '15', '0', '32.4', '0.200', '63', '0'], ['4', '123', '62', '0', '0', '32.0', '0.226', '35', '1'], ['5', '96', '74', '18', '67', '33.6', '0.997', '43', '0'], ['0', '138', '0', '0', '0', '36.3', '0.933', '25', '1'], ['2', '128', '64', '42', '0', '40.0', '1.101', '24', '0'], ['0', '102', '52', '0', '0', '25.1', '0.078', '21', '0'], ['2', '146', '0', '0', '0', '27.5', '0.240', '28', '1'], ['10', '101', '86', '37', '0', '45.6', '1.136', '38', '1'], ['2', '108', '62', '32', '56', '25.2', '0.128', '21', '0'], ['3', '122', '78', '0', '0', '23.0', '0.254', '40', '0'], ['1', '71', '78', '50', '45', '33.2', '0.422', '21', '0'], ['13', '106', '70', '0', '0', '34.2', '0.251', '52', '0'], ['2', '100', '70', '52', '57', '40.5', '0.677', '25', '0'], ['7', '106', '60', '24', '0', '26.5', '0.296', '29', '1'], ['0', '104', '64', '23', '116', '27.8', '0.454', '23', '0'], ['5', '114', '74', '0', '0', '24.9', '0.744', '57', '0'], ['2', '108', '62', '10', '278', '25.3', '0.881', '22', '0'], ['0', '146', '70', '0', '0', '37.9', '0.334', '28', '1'], ['10', '129', '76', '28', '122', '35.9', '0.280', '39', '0'], ['7', '133', '88', '15', '155', '32.4', '0.262', '37', '0'], ['7', '161', '86', '0', '0', '30.4', '0.165', '47', '1'], ['2', '108', '80', '0', '0', '27.0', '0.259', '52', '1'], ['7', '136', '74', '26', '135', '26.0', '0.647', '51', '0'], ['5', '155', '84', '44', '545', '38.7', '0.619', '34', '0'], ['1', '119', '86', '39', '220', '45.6', '0.808', '29', '1'], ['4', '96', '56', '17', '49', '20.8', '0.340', '26', '0'], ['5', '108', '72', '43', '75', '36.1', '0.263', '33', '0'], ['0', '78', '88', '29', '40', '36.9', '0.434', '21', '0'], ['0', '107', '62', '30', '74', '36.6', '0.757', '25', '1'], ['2', '128', '78', '37', '182', '43.3', '1.224', '31', '1'], ['1', '128', '48', '45', '194', '40.5', '0.613', '24', '1'], ['0', '161', '50', '0', '0', '21.9', '0.254', '65', '0'], ['6', '151', '62', '31', '120', '35.5', '0.692', '28', '0'], ['2', '146', '70', '38', '360', '28.0', '0.337', '29', '1'], ['0', '126', '84', '29', '215', '30.7', '0.520', '24', '0'], ['14', '100', '78', '25', '184', '36.6', '0.412', '46', '1'], ['8', '112', '72', '0', '0', '23.6', '0.840', '58', '0'], ['0', '167', '0', '0', '0', '32.3', '0.839', '30', '1'], ['2', '144', '58', '33', '135', '31.6', '0.422', '25', '1'], ['5', '77', '82', '41', '42', '35.8', '0.156', '35', '0'], ['5', '115', '98', '0', '0', '52.9', '0.209', '28', '1'], ['3', '150', '76', '0', '0', '21.0', '0.207', '37', '0'], ['2', '120', '76', '37', '105', '39.7', '0.215', '29', '0'], ['10', '161', '68', '23', '132', '25.5', '0.326', '47', '1'], ['0', '137', '68', '14', '148', '24.8', '0.143', '21', '0'], ['0', '128', '68', '19', '180', '30.5', '1.391', '25', '1'], ['2', '124', '68', '28', '205', '32.9', '0.875', '30', '1'], ['6', '80', '66', '30', '0', '26.2', '0.313', '41', '0'], ['0', '106', '70', '37', '148', '39.4', '0.605', '22', '0'], ['2', '155', '74', '17', '96', '26.6', '0.433', '27', '1'], ['3', '113', '50', '10', '85', '29.5', '0.626', '25', '0'], ['7', '109', '80', '31', '0', '35.9', '1.127', '43', '1'], ['2', '112', '68', '22', '94', '34.1', '0.315', '26', '0'], ['3', '99', '80', '11', '64', '19.3', '0.284', '30', '0'], ['3', '182', '74', '0', '0', '30.5', '0.345', '29', '1'], ['3', '115', '66', '39', '140', '38.1', '0.150', '28', '0'], ['6', '194', '78', '0', '0', '23.5', '0.129', '59', '1'], ['4', '129', '60', '12', '231', '27.5', '0.527', '31', '0'], ['3', '112', '74', '30', '0', '31.6', '0.197', '25', '1'], ['0', '124', '70', '20', '0', '27.4', '0.254', '36', '1'], ['13', '152', '90', '33', '29', '26.8', '0.731', '43', '1'], ['2', '112', '75', '32', '0', '35.7', '0.148', '21', '0'], ['1', '157', '72', '21', '168', '25.6', '0.123', '24', '0'], ['1', '122', '64', '32', '156', '35.1', '0.692', '30', '1'], ['10', '179', '70', '0', '0', '35.1', '0.200', '37', '0'], ['2', '102', '86', '36', '120', '45.5', '0.127', '23', '1'], ['6', '105', '70', '32', '68', '30.8', '0.122', '37', '0'], ['8', '118', '72', '19', '0', '23.1', '1.476', '46', '0'], ['2', '87', '58', '16', '52', '32.7', '0.166', '25', '0'], ['1', '180', '0', '0', '0', '43.3', '0.282', '41', '1'], ['12', '106', '80', '0', '0', '23.6', '0.137', '44', '0'], ['1', '95', '60', '18', '58', '23.9', '0.260', '22', '0'], ['0', '165', '76', '43', '255', '47.9', '0.259', '26', '0'], ['0', '117', '0', '0', '0', '33.8', '0.932', '44', '0'], ['5', '1

In [14]:
# # function that converts string column to float 
def string_column_to_float(dataset, column):
    for row in dataset:
        row[column] = float(row[column])        
        
for i in range(len(final_dataset[0])):
    string_column_to_float(final_dataset, i)

print(final_dataset)

[[6.0, 148.0, 72.0, 35.0, 0.0, 33.6, 0.627, 50.0, 1.0], [1.0, 85.0, 66.0, 29.0, 0.0, 26.6, 0.351, 31.0, 0.0], [8.0, 183.0, 64.0, 0.0, 0.0, 23.3, 0.672, 32.0, 1.0], [1.0, 89.0, 66.0, 23.0, 94.0, 28.1, 0.167, 21.0, 0.0], [0.0, 137.0, 40.0, 35.0, 168.0, 43.1, 2.288, 33.0, 1.0], [5.0, 116.0, 74.0, 0.0, 0.0, 25.6, 0.201, 30.0, 0.0], [3.0, 78.0, 50.0, 32.0, 88.0, 31.0, 0.248, 26.0, 1.0], [10.0, 115.0, 0.0, 0.0, 0.0, 35.3, 0.134, 29.0, 0.0], [2.0, 197.0, 70.0, 45.0, 543.0, 30.5, 0.158, 53.0, 1.0], [8.0, 125.0, 96.0, 0.0, 0.0, 0.0, 0.232, 54.0, 1.0], [4.0, 110.0, 92.0, 0.0, 0.0, 37.6, 0.191, 30.0, 0.0], [10.0, 168.0, 74.0, 0.0, 0.0, 38.0, 0.537, 34.0, 1.0], [10.0, 139.0, 80.0, 0.0, 0.0, 27.1, 1.441, 57.0, 0.0], [1.0, 189.0, 60.0, 23.0, 846.0, 30.1, 0.398, 59.0, 1.0], [5.0, 166.0, 72.0, 19.0, 175.0, 25.8, 0.587, 51.0, 1.0], [7.0, 100.0, 0.0, 0.0, 0.0, 30.0, 0.484, 32.0, 1.0], [0.0, 118.0, 84.0, 47.0, 230.0, 45.8, 0.551, 31.0, 1.0], [7.0, 107.0, 74.0, 0.0, 0.0, 29.6, 0.254, 31.0, 1.0], [1.0, 103.0, 30.0, 38.0, 83.0, 43.3, 0.183, 33.0, 0.0], [1.0, 115.0, 70.0, 30.0, 96.0, 34.6, 0.529, 32.0, 1.0], [3.0, 126.0, 88.0, 41.0, 235.0, 39.3, 0.704, 27.0, 0.0], [8.0, 99.0, 84.0, 0.0, 0.0, 35.4, 0.388, 50.0, 0.0], [7.0, 196.0, 90.0, 0.0, 0.0, 39.8, 0.451, 41.0, 1.0], [9.0, 119.0, 80.0, 35.0, 0.0, 29.0, 0.263, 29.0, 1.0], [11.0, 143.0, 94.0, 33.0, 146.0, 36.6, 0.254, 51.0, 1.0], [10.0, 125.0, 70.0, 26.0, 115.0, 31.1, 0.205, 41.0, 1.0], [7.0, 147.0, 76.0, 0.0, 0.0, 39.4, 0.257, 43.0, 1.0], [1.0, 97.0, 66.0, 15.0, 140.0, 23.2, 0.487, 22.0, 0.0], [13.0, 145.0, 82.0, 19.0, 110.0, 22.2, 0.245, 57.0, 0.0], [5.0, 117.0, 92.0, 0.0, 0.0, 34.1, 0.337, 38.0, 0.0], [5.0, 109.0, 75.0, 26.0, 0.0, 36.0, 0.546, 60.0, 0.0], [3.0, 158.0, 76.0, 36.0, 245.0, 31.6, 0.851, 28.0, 1.0], [3.0, 88.0, 58.0, 11.0, 54.0, 24.8, 0.267, 22.0, 0.0], [6.0, 92.0, 92.0, 0.0, 0.0, 19.9, 0.188, 28.0, 0.0], [10.0, 122.0, 78.0, 31.0, 0.0, 27.6, 0.512, 45.0, 0.0], [4.0, 103.0, 60.0, 33.0, 192.0, 24.0, 0.966, 33.0, 0.0], [11.0, 138.0, 76.0, 0.0, 0.0, 33.2, 0.42, 35.0, 0.0], [9.0, 102.0, 76.0, 37.0, 0.0, 32.9, 0.665, 46.0, 1.0], [2.0, 90.0, 68.0, 42.0, 0.0, 38.2, 0.503, 27.0, 1.0], [4.0, 111.0, 72.0, 47.0, 207.0, 37.1, 1.39, 56.0, 1.0], [3.0, 180.0, 64.0, 25.0, 70.0, 34.0, 0.271, 26.0, 0.0], [7.0, 133.0, 84.0, 0.0, 0.0, 40.2, 0.696, 37.0, 0.0], [7.0, 106.0, 92.0, 18.0, 0.0, 22.7, 0.235, 48.0, 0.0], [9.0, 171.0, 110.0, 24.0, 240.0, 45.4, 0.721, 54.0, 1.0], [7.0, 159.0, 64.0, 0.0, 0.0, 27.4, 0.294, 40.0, 0.0], [0.0, 180.0, 66.0, 39.0, 0.0, 42.0, 1.893, 25.0, 1.0], [1.0, 146.0, 56.0, 0.0, 0.0, 29.7, 0.564, 29.0, 0.0], [2.0, 71.0, 70.0, 27.0, 0.0, 28.0, 0.586, 22.0, 0.0], [7.0, 103.0, 66.0, 32.0, 0.0, 39.1, 0.344, 31.0, 1.0], [7.0, 105.0, 0.0, 0.0, 0.0, 0.0, 0.305, 24.0, 0.0], [1.0, 103.0, 80.0, 11.0, 82.0, 19.4, 0.491, 22.0, 0.0], [1.0, 101.0, 50.0, 15.0, 36.0, 24.2, 0.526, 26.0, 0.0], [5.0, 88.0, 66.0, 21.0, 23.0, 24.4, 0.342, 30.0, 0.0], [8.0, 176.0, 90.0, 34.0, 300.0, 33.7, 0.467, 58.0, 1.0], [7.0, 150.0, 66.0, 42.0, 342.0, 34.7, 0.718, 42.0, 0.0], [1.0, 73.0, 50.0, 10.0, 0.0, 23.0, 0.248, 21.0, 0.0], [7.0, 187.0, 68.0, 39.0, 304.0, 37.7, 0.254, 41.0, 1.0], [0.0, 100.0, 88.0, 60.0, 110.0, 46.8, 0.962, 31.0, 0.0], [0.0, 146.0, 82.0, 0.0, 0.0, 40.5, 1.781, 44.0, 0.0], [0.0, 105.0, 64.0, 41.0, 142.0, 41.5, 0.173, 22.0, 0.0], [2.0, 84.0, 0.0, 0.0, 0.0, 0.0, 0.304, 21.0, 0.0], [8.0, 133.0, 72.0, 0.0, 0.0, 32.9, 0.27, 39.0, 1.0], [5.0, 44.0, 62.0, 0.0, 0.0, 25.0, 0.587, 36.0, 0.0], [2.0, 141.0, 58.0, 34.0, 128.0, 25.4, 0.699, 24.0, 0.0], [7.0, 114.0, 66.0, 0.0, 0.0, 32.8, 0.258, 42.0, 1.0], [5.0, 99.0, 74.0, 27.0, 0.0, 29.0, 0.203, 32.0, 0.0], [0.0, 109.0, 88.0, 30.0, 0.0, 32.5, 0.855, 38.0, 1.0], [2.0, 109.0, 92.0, 0.0, 0.0, 42.7, 0.845, 54.0, 0.0], [1.0, 95.0, 66.0, 13.0, 38.0, 19.6, 0.334, 25.0, 0.0], [4.0, 146.0, 85.0, 27.0, 100.0, 28.9, 0.189, 27.0, 0.0], [2.0, 100.0, 66.0, 20.0, 90.0, 32.9, 0.867, 28.0, 1.0], [5.0, 139.0, 64.0, 35.0, 140.0, 28.6, 0.411, 26.0, 0.0], [13.0, 126.0, 90.0, 0.0, 0.0, 43.4, 0.583, 42.0, 1.0], [4.0, 129.0, 86.0, 20.0, 270.0, 35.1, 0.231, 23.0, 0.0], [1.0, 79.0, 75.0, 30.0, 0.0, 32.0, 0.396, 22.0, 0.0], [1.0, 0.0, 48.0, 20.0, 0.0, 24.7, 0.14, 22.0, 0.0], [7.0, 62.0, 78.0, 0.0, 0.0, 32.6, 0.391, 41.0, 0.0], [5.0, 95.0, 72.0, 33.0, 0.0, 37.7, 0.37, 27.0, 0.0], [0.0, 131.0, 0.0, 0.0, 0.0, 43.2, 0.27, 26.0, 1.0], [2.0, 112.0, 66.0, 22.0, 0.0, 25.0, 0.307, 24.0, 0.0], [3.0, 113.0, 44.0, 13.0, 0.0, 22.4, 0.14, 22.0, 0.0], [2.0, 74.0, 0.0, 0.0, 0.0, 0.0, 0.102, 22.0, 0.0], [7.0, 83.0, 78.0, 26.0, 71.0, 29.3, 0.767, 36.0, 0.0], [0.0, 101.0, 65.0, 28.0, 0.0, 24.6, 0.237, 22.0, 0.0], [5.0, 137.0, 108.0, 0.0, 0.0, 48.8, 0.227, 37.0, 1.0], [2.0, 110.0, 74.0, 29.0, 125.0, 32.4, 0.698, 27.0, 0.0], [13.0, 106.0, 72.0, 54.0, 0.0, 36.6, 0.178, 45.0, 0.0], [2.0, 100.0, 68.0, 25.0, 71.0, 38.5, 0.324, 26.0, 0.0], [15.0, 136.0, 70.0, 32.0, 110.0, 37.1, 0.153, 43.0, 1.0], [1.0, 107.0, 68.0, 19.0, 0.0, 26.5, 0.165, 24.0, 0.0], [1.0, 80.0, 55.0, 0.0, 0.0, 19.1, 0.258, 21.0, 0.0], [4.0, 123.0, 80.0, 15.0, 176.0, 32.0, 0.443, 34.0, 0.0], [7.0, 81.0, 78.0, 40.0, 48.0, 46.7, 0.261, 42.0, 0.0], [4.0, 134.0, 72.0, 0.0, 0.0, 23.8, 0.277, 60.0, 1.0], [2.0, 142.0, 82.0, 18.0, 64.0, 24.7, 0.761, 21.0, 0.0], [6.0, 144.0, 72.0, 27.0, 228.0, 33.9, 0.255, 40.0, 0.0], [2.0, 92.0, 62.0, 28.0, 0.0, 31.6, 0.13, 24.0, 0.0], [1.0, 71.0, 48.0, 18.0, 76.0, 20.4, 0.323, 22.0, 0.0], [6.0, 93.0, 50.0, 30.0, 64.0, 28.7, 0.356, 23.0, 0.0], [1.0, 122.0, 90.0, 51.0, 220.0, 49.7, 0.325, 31.0, 1.0], [1.0, 163.0, 72.0, 0.0, 0.0, 39.0, 1.222, 33.0, 1.0], [1.0, 151.0, 60.0, 0.0, 0.0, 26.1, 0.179, 22.0, 0.0], [0.0, 125.0, 96.0, 0.0, 0.0, 22.5, 0.262, 21.0, 0.0], [1.0, 81.0, 72.0, 18.0, 40.0, 26.6, 0.283, 24.0, 0.0], [2.0, 85.0, 65.0, 0.0, 0.0, 39.6, 0.93, 27.0, 0.0], [1.0, 126.0, 56.0, 29.0, 152.0, 28.7, 0.801, 21.0, 0.0], [1.0, 96.0, 122.0, 0.0, 0.0, 22.4, 0.207, 27.0, 0.0], [4.0, 144.0, 58.0, 28.0, 140.0, 29.5, 0.287, 37.0, 0.0], [3.0, 83.0, 58.0, 31.0, 18.0, 34.3, 0.336, 25.0, 0.0], [0.0, 95.0, 85.0, 25.0, 36.0, 37.4, 0.247, 24.0, 1.0], [3.0, 171.0, 72.0, 33.0, 135.0, 33.3, 0.199, 24.0, 1.0], [8.0, 155.0, 62.0, 26.0, 495.0, 34.0, 0.543, 46.0, 1.0], [1.0, 89.0, 76.0, 34.0, 37.0, 31.2, 0.192, 23.0, 0.0], [4.0, 76.0, 62.0, 0.0, 0.0, 34.0, 0.391, 25.0, 0.0], [7.0, 160.0, 54.0, 32.0, 175.0, 30.5, 0.588, 39.0, 1.0], [4.0, 146.0, 92.0, 0.0, 0.0, 31.2, 0.539, 61.0, 1.0], [5.0, 124.0, 74.0, 0.0, 0.0, 34.0, 0.22, 38.0, 1.0], [5.0, 78.0, 48.0, 0.0, 0.0, 33.7, 0.654, 25.0, 0.0], [4.0, 97.0, 60.0, 23.0, 0.0, 28.2, 0.443, 22.0, 0.0], [4.0, 99.0, 76.0, 15.0, 51.0, 23.2, 0.223, 21.0, 0.0], [0.0, 162.0, 76.0, 56.0, 100.0, 53.2, 0.759, 25.0, 1.0], [6.0, 111.0, 64.0, 39.0, 0.0, 34.2, 0.26, 24.0, 0.0], [2.0, 107.0, 74.0, 30.0, 100.0, 33.6, 0.404, 23.0, 0.0], [5.0, 132.0, 80.0, 0.0, 0.0, 26.8, 0.186, 69.0, 0.0], [0.0, 113.0, 76.0, 0.0, 0.0, 33.3, 0.278, 23.0, 1.0], [1.0, 88.0, 30.0, 42.0, 99.0, 55.0, 0.496, 26.0, 1.0], [3.0, 120.0, 70.0, 30.0, 135.0, 42.9, 0.452, 30.0, 0.0], [1.0, 118.0, 58.0, 36.0, 94.0, 33.3, 0.261, 23.0, 0.0], [1.0, 117.0, 88.0, 24.0, 145.0, 34.5, 0.403, 40.0, 1.0], [0.0, 105.0, 84.0, 0.0, 0.0, 27.9, 0.741, 62.0, 1.0], [4.0, 173.0, 70.0, 14.0, 168.0, 29.7, 0.361, 33.0, 1.0], [9.0, 122.0, 56.0, 0.0, 0.0, 33.3, 1.114, 33.0, 1.0], [3.0, 170.0, 64.0, 37.0, 225.0, 34.5, 0.356, 30.0, 1.0], [8.0, 84.0, 74.0, 31.0, 0.0, 38.3, 0.457, 39.0, 0.0], [2.0, 96.0, 68.0, 13.0, 49.0, 21.1, 0.647, 26.0, 0.0], [2.0, 125.0, 60.0, 20.0, 140.0, 33.8, 0.088, 31.0, 0.0], [0.0, 100.0, 70.0, 26.0, 50.0, 30.8, 0.597, 21.0, 0.0], [0.0, 93.0, 60.0, 25.0, 92.0, 28.7, 0.532, 22.0, 0.0], [0.0, 129.0, 80.0, 0.0, 0.0, 31.2, 0.703, 29.0, 0.0], [5.0, 105.0, 72.0, 29.0, 325.0, 36.9, 0.159, 28.0, 0.0], [3.0, 128.0, 78.0, 0.0, 0.0, 21.1, 0.268, 55.0, 0.0], [5.0, 106.0, 82.0, 30.0, 0.0, 39.5, 0.286, 38.0, 0.0], [2.0, 108.0, 52.0, 26.0, 63.0, 32.5, 0.318, 22.0, 0.0], [10.0, 108.0, 66.0, 0.0, 0.0, 32.4, 0.272, 42.0, 1.0], [4.0, 154.0, 62.0, 31.0, 284.0, 32.8, 0.237, 23.0, 0.0], [0.0, 102.0, 75.0, 23.0, 0.0, 0.0, 0.572, 21.0, 0.0], [9.0, 57.0, 80.0, 37.0, 0.0, 32.8, 0.096, 41.0, 0.0], [2.0, 106.0, 64.0, 35.0, 119.0, 30.5, 1.4, 34.0, 0.0], [5.0, 147.0, 78.0, 0.0, 0.0, 33.7, 0.218, 65.0, 0.0], [2.0, 90.0, 70.0, 17.0, 0.0, 27.3, 0.085, 22.0, 0.0], [1.0, 136.0, 74.0, 50.0, 204.0, 37.4, 0.399, 24.0, 0.0], [4.0, 114.0, 65.0, 0.0, 0.0, 21.9, 0.432, 37.0, 0.0], [9.0, 156.0, 86.0, 28.0, 155.0, 34.3, 1.189, 42.0, 1.0], [1.0, 153.0, 82.0, 42.0, 485.0, 40.6, 0.687, 23.0, 0.0], [8.0, 188.0, 78.0, 0.0, 0.0, 47.9, 0.137, 43.0, 1.0], [7.0, 152.0, 88.0, 44.0, 0.0, 50.0, 0.337, 36.0, 1.0], [2.0, 99.0, 52.0, 15.0, 94.0, 24.6, 0.637, 21.0, 0.0], [1.0, 109.0, 56.0, 21.0, 135.0, 25.2, 0.833, 23.0, 0.0], [2.0, 88.0, 74.0, 19.0, 53.0, 29.0, 0.229, 22.0, 0.0], [17.0, 163.0, 72.0, 41.0, 114.0, 40.9, 0.817, 47.0, 1.0], [4.0, 151.0, 90.0, 38.0, 0.0, 29.7, 0.294, 36.0, 0.0], [7.0, 102.0, 74.0, 40.0, 105.0, 37.2, 0.204, 45.0, 0.0], [0.0, 114.0, 80.0, 34.0, 285.0, 44.2, 0.167, 27.0, 0.0], [2.0, 100.0, 64.0, 23.0, 0.0, 29.7, 0.368, 21.0, 0.0], [0.0, 131.0, 88.0, 0.0, 0.0, 31.6, 0.743, 32.0, 1.0], [6.0, 104.0, 74.0, 18.0, 156.0, 29.9, 0.722, 41.0, 1.0], [3.0, 148.0, 66.0, 25.0, 0.0, 32.5, 0.256, 22.0, 0.0], [4.0, 120.0, 68.0, 0.0, 0.0, 29.6, 0.709, 34.0, 0.0], [4.0, 110.0, 66.0, 0.0, 0.0, 31.9, 0.471, 29.0, 0.0], [3.0, 111.0, 90.0, 12.0, 78.0, 28.4, 0.495, 29.0, 0.0], [6.0, 102.0, 82.0, 0.0, 0.0, 30.8, 0.18, 36.0, 1.0], [6.0, 134.0, 70.0, 23.0, 130.0, 35.4, 0.542, 29.0, 1.0], [2.0, 87.0, 0.0, 23.0, 0.0, 28.9, 0.773, 25.0, 0.0], [1.0, 79.0, 60.0, 42.0, 48.0, 43.5, 0.678, 23.0, 0.0], [2.0, 75.0, 64.0, 24.0, 55.0, 29.7, 0.37, 33.0, 0.0], [8.0, 179.0, 72.0, 42.0, 130.0, 32.7, 0.719, 36.0, 1.0], [6.0, 85.0, 78.0, 0.0, 0.0, 31.2, 0.382, 42.0, 0.0], [0.0, 129.0, 110.0, 46.0, 130.0, 67.1, 0.319, 26.0, 1.0], [5.0, 143.0, 78.0, 0.0, 0.0, 45.0, 0.19, 47.0, 0.0], [5.0, 130.0, 82.0, 0.0, 0.0, 39.1, 0.956, 37.0, 1.0], [6.0, 87.0, 80.0, 0.0, 0.0, 23.2, 0.084, 32.0, 0.0], [0.0, 119.0, 64.0, 18.0, 92.0, 34.9, 0.725, 23.0, 0.0], [1.0, 0.0, 74.0, 20.0, 23.0, 27.7, 0.299, 21.0, 0.0], [5.0, 73.0, 60.0, 0.0, 0.0, 26.8, 0.268, 27.0, 0.0], [4.0, 141.0, 74.0, 0.0, 0.0, 27.6, 0.244, 40.0, 0.0], [7.0, 194.0, 68.0, 28.0, 0.0, 35.9, 0.745, 41.0, 1.0], [8.0, 181.0, 68.0, 36.0, 495.0, 30.1, 0.615, 60.0, 1.0], [1.0, 128.0, 98.0, 41.0, 58.0, 32.0, 1.321, 33.0, 1.0], [8.0, 109.0, 76.0, 39.0, 114.0, 27.9, 0.64, 31.0, 1.0], [5.0, 139.0, 80.0, 35.0, 160.0, 31.6, 0.361, 25.0, 1.0], [3.0, 111.0, 62.0, 0.0, 0.0, 22.6, 0.142, 21.0, 0.0], [9.0, 123.0, 70.0, 44.0, 94.0, 33.1, 0.374, 40.0, 0.0], [7.0, 159.0, 66.0, 0.0, 0.0, 30.4, 0.383, 36.0, 1.0], [11.0, 135.0, 0.0, 0.0, 0.0, 52.3, 0.578, 40.0, 1.0], [8.0, 85.0, 55.0, 20.0, 0.0, 24.4, 0.136, 42.0, 0.0], [5.0, 158.0, 84.0, 41.0, 210.0, 39.4, 0.395, 29.0, 1.0], [1.0, 105.0, 58.0, 0.0, 0.0, 24.3, 0.187, 21.0, 0.0], [3.0, 107.0, 62.0, 13.0, 48.0, 22.9, 0.678, 23.0, 1.0], [4.0, 109.0, 64.0, 44.0, 99.0, 34.8, 0.905, 26.0, 1.0], [4.0, 148.0, 60.0, 27.0, 318.0, 30.9, 0.15, 29.0, 1.0], [0.0, 113.0, 80.0, 16.0, 0.0, 31.0, 0.874, 21.0, 0.0], [1.0, 138.0, 82.0, 0.0, 0.0, 40.1, 0.236, 28.0, 0.0], [0.0, 108.0, 68.0, 20.0, 0.0, 27.3, 0.787, 32.0, 0.0], [2.0, 99.0, 70.0, 16.0, 44.0, 20.4, 0.235, 27.0, 0.0], [6.0, 103.0, 72.0, 32.0, 190.0, 37.7, 0.324, 55.0, 0.0], [5.0, 111.0, 72.0, 28.0, 0.0, 23.9, 0.407, 27.0, 0.0], [8.0, 196.0, 76.0, 29.0, 280.0, 37.5, 0.605, 57.0, 1.0], [5.0, 162.0, 104.0, 0.0, 0.0, 37.7, 0.151, 52.0, 1.0], [1.0, 96.0, 64.0, 27.0, 87.0, 33.2, 0.289, 21.0, 0.0], [7.0, 184.0, 84.0, 33.0, 0.0, 35.5, 0.355, 41.0, 1.0], [2.0, 81.0, 60.0, 22.0, 0.0, 27.7, 0.29, 25.0, 0.0], [0.0, 147.0, 85.0, 54.0, 0.0, 42.8, 0.375, 24.0, 0.0], [7.0, 179.0, 95.0, 31.0, 0.0, 34.2, 0.164, 60.0, 0.0], [0.0, 140.0, 65.0, 26.0, 130.0, 42.6, 0.431, 24.0, 1.0], [9.0, 112.0, 82.0, 32.0, 175.0, 34.2, 0.26, 36.0, 1.0], [12.0, 151.0, 70.0, 40.0, 271.0, 41.8, 0.742, 38.0, 1.0], [5.0, 109.0, 62.0, 41.0, 129.0, 35.8, 0.514, 25.0, 1.0], [6.0, 125.0, 68.0, 30.0, 120.0, 30.0, 0.464, 32.0, 0.0], [5.0, 85.0, 74.0, 22.0, 0.0, 29.0, 1.224, 32.0, 1.0], [5.0, 112.0, 66.0, 0.0, 0.0, 37.8, 0.261, 41.0, 1.0], [0.0, 177.0, 60.0, 29.0, 478.0, 34.6, 1.072, 21.0, 1.0], [2.0, 158.0, 90.0, 0.0, 0.0, 31.6, 0.805, 66.0, 1.0], [7.0, 119.0, 0.0, 0.0, 0.0, 25.2, 0.209, 37.0, 0.0], [7.0, 142.0, 60.0, 33.0, 190.0, 28.8, 0.687, 61.0, 0.0], [1.0, 100.0, 66.0, 15.0, 56.0, 23.6, 0.666, 26.0, 0.0], [1.0, 87.0, 78.0, 27.0, 32.0, 34.6, 0.101, 22.0, 0.0], [0.0, 101.0, 76.0, 0.0, 0.0, 35.7, 0.198, 26.0, 0.0], [3.0, 162.0, 52.0, 38.0, 0.0, 37.2, 0.652, 24.0, 1.0], [4.0, 197.0, 70.0, 39.0, 744.0, 36.7, 2.329, 31.0, 0.0], [0.0, 117.0, 80.0, 31.0, 53.0, 45.2, 0.089, 24.0, 0.0], [4.0, 142.0, 86.0, 0.0, 0.0, 44.0, 0.645, 22.0, 1.0], [6.0, 134.0, 80.0, 37.0, 370.0, 46.2, 0.238, 46.0, 1.0], [1.0, 79.0, 80.0, 25.0, 37.0, 25.4, 0.583, 22.0, 0.0], [4.0, 122.0, 68.0, 0.0, 0.0, 35.0, 0.394, 29.0, 0.0], [3.0, 74.0, 68.0, 28.0, 45.0, 29.7, 0.293, 23.0, 0.0], [4.0, 171.0, 72.0, 0.0, 0.0, 43.6, 0.479, 26.0, 1.0], [7.0, 181.0, 84.0, 21.0, 192.0, 35.9, 0.586, 51.0, 1.0], [0.0, 179.0, 90.0, 27.0, 0.0, 44.1, 0.686, 23.0, 1.0], [9.0, 164.0, 84.0, 21.0, 0.0, 30.8, 0.831, 32.0, 1.0], [0.0, 104.0, 76.0, 0.0, 0.0, 18.4, 0.582, 27.0, 0.0], [1.0, 91.0, 64.0, 24.0, 0.0, 29.2, 0.192, 21.0, 0.0], [4.0, 91.0, 70.0, 32.0, 88.0, 33.1, 0.446, 22.0, 0.0], [3.0, 139.0, 54.0, 0.0, 0.0, 25.6, 0.402, 22.0, 1.0], [6.0, 119.0, 50.0, 22.0, 176.0, 27.1, 1.318, 33.0, 1.0], [2.0, 146.0, 76.0, 35.0, 194.0, 38.2, 0.329, 29.0, 0.0], [9.0, 184.0, 85.0, 15.0, 0.0, 30.0, 1.213, 49.0, 1.0], [10.0, 122.0, 68.0, 0.0, 0.0, 31.2, 0.258, 41.0, 0.0], [0.0, 165.0, 90.0, 33.0, 680.0, 52.3, 0.427, 23.0, 0.0], [9.0, 124.0, 70.0, 33.0, 402.0, 35.4, 0.282, 34.0, 0.0], [1.0, 111.0, 86.0, 19.0, 0.0, 30.1, 0.143, 23.0, 0.0], [9.0, 106.0, 52.0, 0.0, 0.0, 31.2, 0.38, 42.0, 0.0], [2.0, 129.0, 84.0, 0.0, 0.0, 28.0, 0.284, 27.0, 0.0], [2.0, 90.0, 80.0, 14.0, 55.0, 24.4, 0.249, 24.0, 0.0], [0.0, 86.0, 68.0, 32.0, 0.0, 35.8, 0.238, 25.0, 0.0], [12.0, 92.0, 62.0, 7.0, 258.0, 27.6, 0.926, 44.0, 1.0], [1.0, 113.0, 64.0, 35.0, 0.0, 33.6, 0.543, 21.0, 1.0], [3.0, 111.0, 56.0, 39.0, 0.0, 30.1, 0.557, 30.0, 0.0], [2.0, 114.0, 68.0, 22.0, 0.0, 28.7, 0.092, 25.0, 0.0], [1.0, 193.0, 50.0, 16.0, 375.0, 25.9, 0.655, 24.0, 0.0], [11.0, 155.0, 76.0, 28.0, 150.0, 33.3, 1.353, 51.0, 1.0], [3.0, 191.0, 68.0, 15.0, 130.0, 30.9, 0.299, 34.0, 0.0], [3.0, 141.0, 0.0, 0.0, 0.0, 30.0, 0.761, 27.0, 1.0], [4.0, 95.0, 70.0, 32.0, 0.0, 32.1, 0.612, 24.0, 0.0], [3.0, 142.0, 80.0, 15.0, 0.0, 32.4, 0.2, 63.0, 0.0], [4.0, 123.0, 62.0, 0.0, 0.0, 32.0, 0.226, 35.0, 1.0], [5.0, 96.0, 74.0, 18.0, 67.0, 33.6, 0.997, 43.0, 0.0], [0.0, 138.0, 0.0, 0.0, 0.0, 36.3, 0.933, 25.0, 1.0], [2.0, 128.0, 64.0, 42.0, 0.0, 40.0, 1.101, 24.0, 0.0], [0.0, 102.0, 52.0, 0.0, 0.0, 25.1, 0.078, 21.0, 0.0], [2.0, 146.0, 0.0, 0.0, 0.0, 27.5, 0.24, 28.0, 1.0], [10.0, 101.0, 86.0, 37.0, 0.0, 45.6, 1.136, 38.0, 1.0], [2.0, 108.0, 62.0, 32.0, 56.0, 25.2, 0.128, 21.0, 0.0], [3.0, 122.0, 78.0, 0.0, 0.0, 23.0, 0.254, 40.0, 0.0], [1.0, 71.0, 78.0, 50.0, 45.0, 33.2, 0.422, 21.0, 0.0], [13.0, 106.0, 70.0, 0.0, 0.0, 34.2, 0.251, 52.0, 0.0], [2.0, 100.0, 70.0, 52.0, 57.0, 40.5, 0.677, 25.0, 0.0], [7.0, 106.0, 60.0, 24.0, 0.0, 26.5, 0.296, 29.0, 1.0], [0.0, 104.0, 64.0, 23.0, 116.0, 27.8, 0.454, 23.0, 0.0], [5.0, 114.0, 74.0, 0.0, 0.0, 24.9, 0.744, 57.0, 0.0], [2.0, 108.0, 62.0, 10.0, 278.0, 25.3, 0.881, 22.0, 0.0], [0.0, 146.0, 70.0, 0.0, 0.0, 37.9, 0.334, 28.0, 1.0], [10.0, 129.0, 76.0, 28.0, 122.0, 35.9, 0.28, 39.0, 0.0], [7.0, 133.0, 88.0, 15.0, 155.0, 32.4, 0.262, 37.0, 0.0], [7.0, 161.0, 86.0, 0.0, 0.0, 30.4, 0.165, 47.0, 1.0], [2.0, 108.0, 80.0, 0.0, 0.0, 27.0, 0.259, 52.0, 1.0], [7.0, 136.0, 74.0, 26.0, 135.0, 26.0, 0.647, 51.0, 0.0], [5.0, 155.0, 84.0, 44.0, 545.0, 38.7, 0.619, 34.0, 0.0], [1.0, 119.0, 86.0, 39.0, 220.0, 45.6, 0.808, 29.0, 1.0], [4.0, 96.0, 56.0, 17.0, 49.0, 20.8, 0.34, 26.0, 0.0], [5.0, 108.0, 72.0, 43.0, 75.0, 36.1, 0.263, 33.0, 0.0], [0.0, 78.0, 88.0, 29.0, 40.0, 36.9, 0.434, 21.0, 0.0], [0.0, 107.0, 62.0, 30.0, 74.0, 36.6, 0.757, 25.0, 1.0], [2.0, 128.0, 78.0, 37.0, 182.0, 43.3, 1.224, 31.0, 1.0], [1.0, 128.0, 48.0, 45.0, 194.0, 40.5, 0.613, 24.0, 1.0], [0.0, 161.0, 50.0, 0.0, 0.0, 21.9, 0.254, 65.0, 0.0], [6.0, 151.0, 62.0, 31.0, 120.0, 35.5, 0.692, 28.0, 0.0], [2.0, 146.0, 70.0, 38.0, 360.0, 28.0, 0.337, 29.0, 1.0], [0.0, 126.0, 84.0, 29.0, 215.0, 30.7, 0.52, 24.0, 0.0], [14.0, 100.0, 78.0, 25.0, 184.0, 36.6, 0.412, 46.0, 1.0], [8.0, 112.0, 72.0, 0.0, 0.0, 23.6, 0.84, 58.0, 0.0], [0.0, 167.0, 0.0, 0.0, 0.0, 32.3, 0.839, 30.0, 1.0], [2.0, 144.0, 58.0, 33.0, 135.0, 31.6, 0.422, 25.0, 1.0], [5.0, 77.0, 82.0, 41.0, 42.0, 35.8, 0.156, 35.0, 0.0], [5.0, 115.0, 98.0, 0.0, 0.0, 52.9, 0.209, 28.0, 1.0], [3.0, 150.0, 76.0, 0.0, 0.0, 21.0, 0.207, 37.0, 0.0], [2.0, 120.0, 76.0, 37.0, 105.0, 39.7, 0.215, 29.0, 0.0], [10.0, 161.0, 68.0, 23.0, 132.0, 25.5, 0.326, 47.0, 1.0], [0.0, 137.0, 68.0, 14.0, 148.0, 24.8, 0.143, 21.0, 0.0], [0.0, 128.0, 68.0, 19.0, 180.0, 30.5, 1.391, 25.0, 1.0], [2.0, 124.0, 68.0, 28.0, 205.0, 32.9, 0.875, 30.0, 1.0], [6.0, 80.0, 66.0, 30.0, 0.0, 26.2, 0.313, 41.0, 0.0], [0.0, 106.0, 70.0, 37.0, 148.0, 39.4, 0.605, 22.0, 0.0], [2.0, 155.0, 74.0, 17.0, 96.0, 26.6, 0.433, 27.0, 1.0], [3.0, 113.0, 50.0, 10.0, 85.0, 29.5, 0.626, 25.0, 0.0], [7.0, 109.0, 80.0, 31.0, 0.0, 35.9, 1.127, 43.0, 1.0], [2.0, 112.0, 68.0, 22.0, 94.0, 34.1, 0.315, 26.0, 0.0], [3.0, 99.0, 80.0, 11.0, 64.0, 19.3, 0.284, 30.0, 0.0], [3.0, 182.0, 74.0, 0.0, 0.0, 30.5, 0.345, 29.0, 1.0], [3.0, 115.0, 66.0, 39.0, 140.0, 38.1, 0.15, 28.0, 0.0], [6.0, 194.0, 78.0, 0.0, 0.0, 23.5, 0.129, 59.0, 1.0], [4.0, 129.0, 60.0, 12.0, 231.0, 27.5, 0.527, 31.0, 0.0], [3.0, 112.0, 74.0, 30.0, 0.0, 31.6, 0.197, 25.0, 1.0], [0.0, 124.0, 70.0, 20.0, 0.0, 27.4, 0.254, 36.0, 1.0], [13.0, 152.0, 90.0, 33.0, 29.0, 26.8, 0.731, 43.0, 1.0], [2.0, 112.0, 75.0, 32.0, 0.0, 35.7, 0.148, 21.0, 0.0], [1.0, 157.0, 72.0, 21.0, 168.0, 25.6, 0.123, 24.0, 0.0], [1.0, 122.0, 64.0, 32.0, 156.0, 35.1, 0.692, 30.0, 1.0], [10.0, 179.0, 70.0, 0.0, 0.0, 35.1, 0.2, 37.0, 0.0], [2.0, 102.0, 86.0, 36.0, 120.0, 45.5, 0.127, 23.0, 1.0], [6.0, 105.0, 70.0, 32.0, 68.0, 30.8, 0.122, 37.0, 0.0], [8.0, 118.0, 72.0, 19.0, 0.0, 23.1, 1.476, 46.0, 0.0], [2.0, 87.0, 58.0, 16.0, 52.0, 32.7, 0.166, 25.0, 0.0], [1.0, 180.0, 0.0, 0.0, 0.0, 43.3, 0.282, 41.0, 1.0], [12.0, 106.0, 80.0, 0.0, 0.0, 23.6, 0.137, 44.0, 0.0], [1.0, 95.0, 60.0, 18.0, 58.0, 23.9, 0.26, 22.0, 0.0], [0.0, 165.0, 76.0, 43.0, 255.0, 47.9, 0.259, 26.0, 0.0], [0.0, 117.0, 0.0, 0.0, 0.0, 33.8, 0.932, 44.0, 0.0], [5.0, 115.0, 76.0, 0.0, 0.0, 31.2, 0.343, 44.0, 1.0], [9.0, 152.0, 78.0, 34.0, 171.0, 34.2, 0.893, 33.0, 1.0], [7.0, 178.0, 84.0, 0.0, 0.0, 39.9, 0.331, 41.0, 1.0], [1.0, 130.0, 70.0, 13.0, 105.0, 25.9, 0.472, 22.0, 0.0], [1.0, 95.0, 74.0, 21.0, 73.0, 25.9, 0.673, 36.0, 0.0], [1.0, 0.0, 68.0, 35.0, 0.0, 32.0, 0.389, 22.0, 0.0], [5.0, 122.0, 86.0, 0.0, 0.0, 34.7, 0.29, 33.0, 0.0], [8.0, 95.0, 72.0, 0.0, 0.0, 36.8, 0.485, 57.0, 0.0], [8.0, 126.0, 88.0, 36.0, 108.0, 38.5, 0.349, 49.0, 0.0], [1.0, 139.0, 46.0, 19.0, 83.0, 28.7, 0.654, 22.0, 0.0], [3.0, 116.0, 0.0, 0.0, 0.0, 23.5, 0.187, 23.0, 0.0], [3.0, 99.0, 62.0, 19.0, 74.0, 21.8, 0.279, 26.0, 0.0], [5.0, 0.0, 80.0, 32.0, 0.0, 41.0, 0.346, 37.0, 1.0], [4.0, 92.0, 80.0, 0.0, 0.0, 42.2, 0.237, 29.0, 0.0], [4.0, 137.0, 84.0, 0.0, 0.0, 31.2, 0.252, 30.0, 0.0], [3.0, 61.0, 82.0, 28.0, 0.0, 34.4, 0.243, 46.0, 0.0], [1.0, 90.0, 62.0, 12.0, 43.0, 27.2, 0.58, 24.0, 0.0], [3.0, 90.0, 78.0, 0.0, 0.0, 42.7, 0.559, 21.0, 0.0], [9.0, 165.0, 88.0, 0.0, 0.0, 30.4, 0.302, 49.0, 1.0], [1.0, 125.0, 50.0, 40.0, 167.0, 33.3, 0.962, 28.0, 1.0], [13.0, 129.0, 0.0, 30.0, 0.0, 39.9, 0.569, 44.0, 1.0], [12.0, 88.0, 74.0, 40.0, 54.0, 35.3, 0.378, 48.0, 0.0], [1.0, 196.0, 76.0, 36.0, 249.0, 36.5, 0.875, 29.0, 1.0], [5.0, 189.0, 64.0, 33.0, 325.0, 31.2, 0.583, 29.0, 1.0], [5.0, 158.0, 70.0, 0.0, 0.0, 29.8, 0.207, 63.0, 0.0], [5.0, 103.0, 108.0, 

# Converting a String into Integer 

Your atttention should be on dictionary in order to do this corrrectly

In [15]:
def load_csv(filename):
    dataset =  list()
    with open(filename, "r") as file:
        csv_reader = reader(file)
        
        # skip the column names in the datasetr
        next(csv_reader)
        
        for row in csv_reader:
            if not row:
                continue
            dataset.append(row)
    return dataset

# filename 

filename = "iris.csv"
iris_dataset = load_csv(filename)
print(iris_dataset)

[['5.1', '3.5', '1.4', '0.2', 'setosa'], ['4.9', '3.0', '1.4', '0.2', 'setosa'], ['4.7', '3.2', '1.3', '0.2', 'setosa'], ['4.6', '3.1', '1.5', '0.2', 'setosa'], ['5.0', '3.6', '1.4', '0.2', 'setosa'], ['5.4', '3.9', '1.7', '0.4', 'setosa'], ['4.6', '3.4', '1.4', '0.3', 'setosa'], ['5.0', '3.4', '1.5', '0.2', 'setosa'], ['4.4', '2.9', '1.4', '0.2', 'setosa'], ['4.9', '3.1', '1.5', '0.1', 'setosa'], ['5.4', '3.7', '1.5', '0.2', 'setosa'], ['4.8', '3.4', '1.6', '0.2', 'setosa'], ['4.8', '3.0', '1.4', '0.1', 'setosa'], ['4.3', '3.0', '1.1', '0.1', 'setosa'], ['5.8', '4.0', '1.2', '0.2', 'setosa'], ['5.7', '4.4', '1.5', '0.4', 'setosa'], ['5.4', '3.9', '1.3', '0.4', 'setosa'], ['5.1', '3.5', '1.4', '0.3', 'setosa'], ['5.7', '3.8', '1.7', '0.3', 'setosa'], ['5.1', '3.8', '1.5', '0.3', 'setosa'], ['5.4', '3.4', '1.7', '0.2', 'setosa'], ['5.1', '3.7', '1.5', '0.4', 'setosa'], ['4.6', '3.6', '1.0', '0.2', 'setosa'], ['5.1', '3.3', '1.7', '0.5', 'setosa'], ['4.8', '3.4', '1.9', '0.2', 'setosa'], ['5.0', '3.0', '1.6', '0.2', 'setosa'], ['5.0', '3.4', '1.6', '0.4', 'setosa'], ['5.2', '3.5', '1.5', '0.2', 'setosa'], ['5.2', '3.4', '1.4', '0.2', 'setosa'], ['4.7', '3.2', '1.6', '0.2', 'setosa'], ['4.8', '3.1', '1.6', '0.2', 'setosa'], ['5.4', '3.4', '1.5', '0.4', 'setosa'], ['5.2', '4.1', '1.5', '0.1', 'setosa'], ['5.5', '4.2', '1.4', '0.2', 'setosa'], ['4.9', '3.1', '1.5', '0.2', 'setosa'], ['5.0', '3.2', '1.2', '0.2', 'setosa'], ['5.5', '3.5', '1.3', '0.2', 'setosa'], ['4.9', '3.6', '1.4', '0.1', 'setosa'], ['4.4', '3.0', '1.3', '0.2', 'setosa'], ['5.1', '3.4', '1.5', '0.2', 'setosa'], ['5.0', '3.5', '1.3', '0.3', 'setosa'], ['4.5', '2.3', '1.3', '0.3', 'setosa'], ['4.4', '3.2', '1.3', '0.2', 'setosa'], ['5.0', '3.5', '1.6', '0.6', 'setosa'], ['5.1', '3.8', '1.9', '0.4', 'setosa'], ['4.8', '3.0', '1.4', '0.3', 'setosa'], ['5.1', '3.8', '1.6', '0.2', 'setosa'], ['4.6', '3.2', '1.4', '0.2', 'setosa'], ['5.3', '3.7', '1.5', '0.2', 'setosa'], ['5.0', '3.3', '1.4', '0.2', 'setosa'], ['7.0', '3.2', '4.7', '1.4', 'versicolor'], ['6.4', '3.2', '4.5', '1.5', 'versicolor'], ['6.9', '3.1', '4.9', '1.5', 'versicolor'], ['5.5', '2.3', '4.0', '1.3', 'versicolor'], ['6.5', '2.8', '4.6', '1.5', 'versicolor'], ['5.7', '2.8', '4.5', '1.3', 'versicolor'], ['6.3', '3.3', '4.7', '1.6', 'versicolor'], ['4.9', '2.4', '3.3', '1.0', 'versicolor'], ['6.6', '2.9', '4.6', '1.3', 'versicolor'], ['5.2', '2.7', '3.9', '1.4', 'versicolor'], ['5.0', '2.0', '3.5', '1.0', 'versicolor'], ['5.9', '3.0', '4.2', '1.5', 'versicolor'], ['6.0', '2.2', '4.0', '1.0', 'versicolor'], ['6.1', '2.9', '4.7', '1.4', 'versicolor'], ['5.6', '2.9', '3.6', '1.3', 'versicolor'], ['6.7', '3.1', '4.4', '1.4', 'versicolor'], ['5.6', '3.0', '4.5', '1.5', 'versicolor'], ['5.8', '2.7', '4.1', '1.0', 'versicolor'], ['6.2', '2.2', '4.5', '1.5', 'versicolor'], ['5.6', '2.5', '3.9', '1.1', 'versicolor'], ['5.9', '3.2', '4.8', '1.8', 'versicolor'], ['6.1', '2.8', '4.0', '1.3', 'versicolor'], ['6.3', '2.5', '4.9', '1.5', 'versicolor'], ['6.1', '2.8', '4.7', '1.2', 'versicolor'], ['6.4', '2.9', '4.3', '1.3', 'versicolor'], ['6.6', '3.0', '4.4', '1.4', 'versicolor'], ['6.8', '2.8', '4.8', '1.4', 'versicolor'], ['6.7', '3.0', '5.0', '1.7', 'versicolor'], ['6.0', '2.9', '4.5', '1.5', 'versicolor'], ['5.7', '2.6', '3.5', '1.0', 'versicolor'], ['5.5', '2.4', '3.8', '1.1', 'versicolor'], ['5.5', '2.4', '3.7', '1.0', 'versicolor'], ['5.8', '2.7', '3.9', '1.2', 'versicolor'], ['6.0', '2.7', '5.1', '1.6', 'versicolor'], ['5.4', '3.0', '4.5', '1.5', 'versicolor'], ['6.0', '3.4', '4.5', '1.6', 'versicolor'], ['6.7', '3.1', '4.7', '1.5', 'versicolor'], ['6.3', '2.3', '4.4', '1.3', 'versicolor'], ['5.6', '3.0', '4.1', '1.3', 'versicolor'], ['5.5', '2.5', '4.0', '1.3', 'versicolor'], ['5.5', '2.6', '4.4', '1.2', 'versicolor'], ['6.1', '3.0', '4.6', '1.4', 'versicolor'], ['5.8', '2.6', '4.0', '1.2', 'versicolor'], ['5.0', '2.3', '3.3', '1.0', 'versicolor'], ['5.6', '2.7', '4.2', '1.3', 'versicolor'], ['5.7', '3.0', '4.2', '1.2', 'versicolor'], ['5.7', '2.9', '4.2', '1.3', 'versicolor'], ['6.2', '2.9', '4.3', '1.3', 'versicolor'], ['5.1', '2.5', '3.0', '1.1', 'versicolor'], ['5.7', '2.8', '4.1', '1.3', 'versicolor'], ['6.3', '3.3', '6.0', '2.5', 'virginica'], ['5.8', '2.7', '5.1', '1.9', 'virginica'], ['7.1', '3.0', '5.9', '2.1', 'virginica'], ['6.3', '2.9', '5.6', '1.8', 'virginica'], ['6.5', '3.0', '5.8', '2.2', 'virginica'], ['7.6', '3.0', '6.6', '2.1', 'virginica'], ['4.9', '2.5', '4.5', '1.7', 'virginica'], ['7.3', '2.9', '6.3', '1.8', 'virginica'], ['6.7', '2.5', '5.8', '1.8', 'virginica'], ['7.2', '3.6', '6.1', '2.5', 'virginica'], ['6.5', '3.2', '5.1', '2.0', 'virginica'], ['6.4', '2.7', '5.3', '1.9', 'virginica'], ['6.8', '3.0', '5.5', '2.1', 'virginica'], ['5.7', '2.5', '5.0', '2.0', 'virginica'], ['5.8', '2.8', '5.1', '2.4', 'virginica'], ['6.4', '3.2', '5.3', '2.3', 'virginica'], ['6.5', '3.0', '5.5', '1.8', 'virginica'], ['7.7', '3.8', '6.7', '2.2', 'virginica'], ['7.7', '2.6', '6.9', '2.3', 'virginica'], ['6.0', '2.2', '5.0', '1.5', 'virginica'], ['6.9', '3.2', '5.7', '2.3', 'virginica'], ['5.6', '2.8', '4.9', '2.0', 'virginica'], ['7.7', '2.8', '6.7', '2.0', 'virginica'], ['6.3', '2.7', '4.9', '1.8', 'virginica'], ['6.7', '3.3', '5.7', '2.1', 'virginica'], ['7.2', '3.2', '6.0', '1.8', 'virginica'], ['6.2', '2.8', '4.8', '1.8', 'virginica'], ['6.1', '3.0', '4.9', '1.8', 'virginica'], ['6.4', '2.8', '5.6', '2.1', 'virginica'], ['7.2', '3.0', '5.8', '1.6', 'virginica'], ['7.4', '2.8', '6.1', '1.9', 'virginica'], ['7.9', '3.8', '6.4', '2.0', 'virginica'], ['6.4', '2.8', '5.6', '2.2', 'virginica'], ['6.3', '2.8', '5.1', '1.5', 'virginica'], ['6.1', '2.6', '5.6', '1.4', 'virginica'], ['7.7', '3.0', '6.1', '2.3', 'virginica'], ['6.3', '3.4', '5.6', '2.4', 'virginica'], ['6.4', '3.1', '5.5', '1.8', 'virginica'], ['6.0', '3.0', '4.8', '1.8', 'virginica'], ['6.9', '3.1', '5.4', '2.1', 'virginica'], ['6.7', '3.1', '5.6', '2.4', 'virginica'], ['6.9', '3.1', '5.1', '2.3', 'virginica'], ['5.8', '2.7', '5.1', '1.9', 'virginica'], ['6.8', '3.2', '5.9', '2.3', 'virginica'], ['6.7', '3.3', '5.7', '2.5', 'virginica'], ['6.7', '3.0', '5.2', '2.3', 'virginica'], ['6.3', '2.5', '5.0', '1.9', 'virginica'], ['6.5', '3.0', '5.2', '2.0', 'virginica'], ['6.2', '3.4', '5.4', '2.3', 'virginica'], ['5.9', '3.0', '5.1', '1.8', 'virginica']]

In [16]:
# Convert String column to Integer  Confidence
def string_column_to_int(dataset, column):
    class_values = [row[column] for row in dataset]
    unique = set(class_values)
    lookup = dict()
    for i, value in enumerate(unique):
        lookup[value] = i
        
    for row in dataset:
        row[column] = lookup[row[column]]
    return lookup
   
string_column_to_int(iris_dataset, 4)

{'versicolor': 0, 'setosa': 1, 'virginica': 2}

In [17]:
print(iris_dataset)

[['5.1', '3.5', '1.4', '0.2', 1], ['4.9', '3.0', '1.4', '0.2', 1], ['4.7', '3.2', '1.3', '0.2', 1], ['4.6', '3.1', '1.5', '0.2', 1], ['5.0', '3.6', '1.4', '0.2', 1], ['5.4', '3.9', '1.7', '0.4', 1], ['4.6', '3.4', '1.4', '0.3', 1], ['5.0', '3.4', '1.5', '0.2', 1], ['4.4', '2.9', '1.4', '0.2', 1], ['4.9', '3.1', '1.5', '0.1', 1], ['5.4', '3.7', '1.5', '0.2', 1], ['4.8', '3.4', '1.6', '0.2', 1], ['4.8', '3.0', '1.4', '0.1', 1], ['4.3', '3.0', '1.1', '0.1', 1], ['5.8', '4.0', '1.2', '0.2', 1], ['5.7', '4.4', '1.5', '0.4', 1], ['5.4', '3.9', '1.3', '0.4', 1], ['5.1', '3.5', '1.4', '0.3', 1], ['5.7', '3.8', '1.7', '0.3', 1], ['5.1', '3.8', '1.5', '0.3', 1], ['5.4', '3.4', '1.7', '0.2', 1], ['5.1', '3.7', '1.5', '0.4', 1], ['4.6', '3.6', '1.0', '0.2', 1], ['5.1', '3.3', '1.7', '0.5', 1], ['4.8', '3.4', '1.9', '0.2', 1], ['5.0', '3.0', '1.6', '0.2', 1], ['5.0', '3.4', '1.6', '0.4', 1], ['5.2', '3.5', '1.5', '0.2', 1], ['5.2', '3.4', '1.4', '0.2', 1], ['4.7', '3.2', '1.6', '0.2', 1], ['4.8', '3.1', '1.6', '0.2', 1], ['5.4', '3.4', '1.5', '0.4', 1], ['5.2', '4.1', '1.5', '0.1', 1], ['5.5', '4.2', '1.4', '0.2', 1], ['4.9', '3.1', '1.5', '0.2', 1], ['5.0', '3.2', '1.2', '0.2', 1], ['5.5', '3.5', '1.3', '0.2', 1], ['4.9', '3.6', '1.4', '0.1', 1], ['4.4', '3.0', '1.3', '0.2', 1], ['5.1', '3.4', '1.5', '0.2', 1], ['5.0', '3.5', '1.3', '0.3', 1], ['4.5', '2.3', '1.3', '0.3', 1], ['4.4', '3.2', '1.3', '0.2', 1], ['5.0', '3.5', '1.6', '0.6', 1], ['5.1', '3.8', '1.9', '0.4', 1], ['4.8', '3.0', '1.4', '0.3', 1], ['5.1', '3.8', '1.6', '0.2', 1], ['4.6', '3.2', '1.4', '0.2', 1], ['5.3', '3.7', '1.5', '0.2', 1], ['5.0', '3.3', '1.4', '0.2', 1], ['7.0', '3.2', '4.7', '1.4', 0], ['6.4', '3.2', '4.5', '1.5', 0], ['6.9', '3.1', '4.9', '1.5', 0], ['5.5', '2.3', '4.0', '1.3', 0], ['6.5', '2.8', '4.6', '1.5', 0], ['5.7', '2.8', '4.5', '1.3', 0], ['6.3', '3.3', '4.7', '1.6', 0], ['4.9', '2.4', '3.3', '1.0', 0], ['6.6', '2.9', '4.6', '1.3', 0], ['5.2', '2.7', '3.9', '1.4', 0], ['5.0', '2.0', '3.5', '1.0', 0], ['5.9', '3.0', '4.2', '1.5', 0], ['6.0', '2.2', '4.0', '1.0', 0], ['6.1', '2.9', '4.7', '1.4', 0], ['5.6', '2.9', '3.6', '1.3', 0], ['6.7', '3.1', '4.4', '1.4', 0], ['5.6', '3.0', '4.5', '1.5', 0], ['5.8', '2.7', '4.1', '1.0', 0], ['6.2', '2.2', '4.5', '1.5', 0], ['5.6', '2.5', '3.9', '1.1', 0], ['5.9', '3.2', '4.8', '1.8', 0], ['6.1', '2.8', '4.0', '1.3', 0], ['6.3', '2.5', '4.9', '1.5', 0], ['6.1', '2.8', '4.7', '1.2', 0], ['6.4', '2.9', '4.3', '1.3', 0], ['6.6', '3.0', '4.4', '1.4', 0], ['6.8', '2.8', '4.8', '1.4', 0], ['6.7', '3.0', '5.0', '1.7', 0], ['6.0', '2.9', '4.5', '1.5', 0], ['5.7', '2.6', '3.5', '1.0', 0], ['5.5', '2.4', '3.8', '1.1', 0], ['5.5', '2.4', '3.7', '1.0', 0], ['5.8', '2.7', '3.9', '1.2', 0], ['6.0', '2.7', '5.1', '1.6', 0], ['5.4', '3.0', '4.5', '1.5', 0], ['6.0', '3.4', '4.5', '1.6', 0], ['6.7', '3.1', '4.7', '1.5', 0], ['6.3', '2.3', '4.4', '1.3', 0], ['5.6', '3.0', '4.1', '1.3', 0], ['5.5', '2.5', '4.0', '1.3', 0], ['5.5', '2.6', '4.4', '1.2', 0], ['6.1', '3.0', '4.6', '1.4', 0], ['5.8', '2.6', '4.0', '1.2', 0], ['5.0', '2.3', '3.3', '1.0', 0], ['5.6', '2.7', '4.2', '1.3', 0], ['5.7', '3.0', '4.2', '1.2', 0], ['5.7', '2.9', '4.2', '1.3', 0], ['6.2', '2.9', '4.3', '1.3', 0], ['5.1', '2.5', '3.0', '1.1', 0], ['5.7', '2.8', '4.1', '1.3', 0], ['6.3', '3.3', '6.0', '2.5', 2], ['5.8', '2.7', '5.1', '1.9', 2], ['7.1', '3.0', '5.9', '2.1', 2], ['6.3', '2.9', '5.6', '1.8', 2], ['6.5', '3.0', '5.8', '2.2', 2], ['7.6', '3.0', '6.6', '2.1', 2], ['4.9', '2.5', '4.5', '1.7', 2], ['7.3', '2.9', '6.3', '1.8', 2], ['6.7', '2.5', '5.8', '1.8', 2], ['7.2', '3.6', '6.1', '2.5', 2], ['6.5', '3.2', '5.1', '2.0', 2], ['6.4', '2.7', '5.3', '1.9', 2], ['6.8', '3.0', '5.5', '2.1', 2], ['5.7', '2.5', '5.0', '2.0', 2], ['5.8', '2.8', '5.1', '2.4', 2], ['6.4', '3.2', '5.3', '2.3', 2], ['6.5', '3.0', '5.5', '1.8', 2], ['7.7', '3.8', '6.7', '2.2', 2], ['7.7', '2.6', '6.9', '2.3', 2], ['6.0', '2.2', '5.0', '1.5', 2], ['6.9', '3.2', '5.7', '2.3', 2], ['5.6', '2.8', '4.9', '2.0', 2], ['7.7', '2.8', '6.7', '2.0', 2], ['6.3', '2.7', '4.9', '1.8', 2], ['6.7', '3.3', '5.7', '2.1', 2], ['7.2', '3.2', '6.0', '1.8', 2], ['6.2', '2.8', '4.8', '1.8', 2], ['6.1', '3.0', '4.9', '1.8', 2], ['6.4', '2.8', '5.6', '2.1', 2], ['7.2', '3.0', '5.8', '1.6', 2], ['7.4', '2.8', '6.1', '1.9', 2], ['7.9', '3.8', '6.4', '2.0', 2], ['6.4', '2.8', '5.6', '2.2', 2], ['6.3', '2.8', '5.1', '1.5', 2], ['6.1', '2.6', '5.6', '1.4', 2], ['7.7', '3.0', '6.1', '2.3', 2], ['6.3', '3.4', '5.6', '2.4', 2], ['6.4', '3.1', '5.5', '1.8', 2], ['6.0', '3.0', '4.8', '1.8', 2], ['6.9', '3.1', '5.4', '2.1', 2], ['6.7', '3.1', '5.6', '2.4', 2], ['6.9', '3.1', '5.1', '2.3', 2], ['5.8', '2.7', '5.1', '1.9', 2], ['6.8', '3.2', '5.9', '2.3', 2], ['6.7', '3.3', '5.7', '2.5', 2], ['6.7', '3.0', '5.2', '2.3', 2], ['6.3', '2.5', '5.0', '1.9', 2], ['6.5', '3.0', '5.2', '2.0', 2], ['6.2', '3.4', '5.4', '2.3', 2], ['5.9', '3.0', '5.1', '1.8', 2]]

# Learning Pandas for Data manipulation

In [18]:
filename = "iris.csv"
iris_data = pd.read_csv(filename)
iris_data

# Getting the last Column of the iris_data and changing it to integer
last_column = list()
for word in iris_data["species"]:
    last_column.append(word)
unique = set(last_column)

lookup = dict()
for i, value in enumerate(unique):
    lookup[value] = i


new_last_column = list()
for word in iris_data["species"]:
    new_last_column.append(lookup[word])
    
iris_data["species"] = new_last_column
iris_data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        1
1             4.9          3.0           1.4          0.2        1
2             4.7          3.2           1.3          0.2        1
3             4.6          3.1           1.5          0.2        1
4             5.0          3.6           1.4          0.2        1
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [19]:
list(iris_data["species"])

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]

# Data Analysis
If we see in our lives, we often do data analysis knowingly or unknowingly to make day-to-day decisions. For example, to purchase any product from the e-commerce site, often, we see the previous customer’s ratings and feedback on that product. Then, after analyzing product rating, feedback, and other factors, we buy a new product.

### Descriptive data analysis - (what is/has happening/happened?)
Descriptive data analysis is helpful to find the “what is/has happening/happened?” in business. Usually, we take the help of descriptive data analysis to track the Key Performance Indicators (KPIs), sales profit/loss, and so on.

### Diagnostic data analysis – (Why something happened in the past?)
Diagnostic data analysis helps find out the “Why did something happen?” Once we get the report of what happened from descriptive analysis, diagnostic data analysis helps us understand which factors caused something to happen.

### Predictive data analysis – (What can happen in the future?)
Predictive data analysis is used to forecast or predict what can likely happen by analyzing the historical data, which helps us understand “what will probably happen in the future?“.It is needed in advanced data analysis and Machine Learning (ML).**Example: predicting the unemployment ratio for upcoming years.**

### Prescriptive data analysis – (What actions should I take?)
Prescriptive data analysis uses the outcomes of all the data analysis. It will help find the “what action should be taken?” to counter a problem or predicted problem.**Example: Dynamic pricing of taxi fares depends on demand, weather, and social conditions.**


# Process flow of data analysis
### Requirements: gathering and planning
Why do we need data analysis? What is the business domain of the problem statement? What type of data analysis should we apply? What data do we need to deal with? What are the possible challenges/gaps with data? And how to overcome those?. this phase is for understanding/brainstorming the problem statement and its domain and then creating/planning the roadmap for the data analysis process.

### Data collection
n this step, we will collect data from different sources (From the web, some transactional systems, data from users in flat files or data from sensors or machines, and so on).

### Data cleaning
The data collected at the data collection step is raw; it may have some corrupt, irrelevant, or dirty data. For example, it may have white spaces, quotes, inconsistencies, corrupted records, or some part/records of that collected data that are irrelevant to our problem.
So, here, we will detect and remove the corrupted, inaccurate, and irrelevant data from the collected raw data set and build a cleaner subset from that.

### Data preparation
Here, at this data preparation step, we manipulate the data and add the required derived variable (columns/fields) to make it ready for accurate and consistent data analysis. For example, suppose we have a user’s contact number with the country code (like +233-557433289); now, if we split this into two columns, contact_number (557433289) and country (Ghana), here, the country is a derived column.

### Data analysis
We will analyze previously prepared data by following the finalized approach and plan, which we decided at the requirements gathering and planning step. Here, we do data analysis with the help of a data analysis framework, tools, and utilities like Excel, R, SAS, Python, Hadoop, Spark, and so on.

### Data interpretation and result summarization
This is where we will interpret the results from the data analysis step and build the conclusion by summarizing the findings.
### Data visualization
Data visualization is the final step. Here, we will represent our findings and conclusion graphically with the help of an appropriate visual plot, like Bar Charts, Histograms, Pie charts, and so on.

# Types of Data 
1. Structured Data(Relational data ie SQL)
2. Semi-structured Data(CSV, JSON, XML) 
3. Unstructured Data(PDF, AUDIO/VIDEO DATA, IMAGES, TEXT LOGS)

In [20]:
# df = pd.read_excel("Employee Data.xlsx")
# df
# df.to_csv('employee_data.csv', index=False)

In [21]:
filename = "Employee data.csv"
with open(filename, "r") as file:
    content = file.readlines()  
headers = content[0]
data = content[1:]
job_category = [row.split(",")[4] for row in data]
unique = set(job_category)
sum_total_salary = dict()
for jobCat in unique:
    sum_total_salary[jobCat] = 0
for line in data:
    line = line.split(",")[4:6]
    sum_total_salary[line[0]] = float(float(line[1]) + sum_total_salary[line[0]])
print(sum_total_salary)

{'Clerical': 10105390.0, 'Custodial': 835350.0, 'Manager': 5374135.0}

In [22]:
df = pd.read_csv("Employee data.csv")
salary_dept_by_df = df.groupby("jobcat").sum("salary").reset_index()
salary_dept_by_df.loc[:, ["jobcat","salary"]]

      jobcat      salary
0   Clerical  10105390.0
1  Custodial    835350.0
2    Manager   5374135.0

In [23]:
new_df = pd.read_csv("Employee data.csv")
job_cat_and_salary = new_df.loc[:, ["jobcat","salary"]]
result= job_cat_and_salary.groupby("jobcat").sum("salary").reset_index()
result

      jobcat      salary
0   Clerical  10105390.0
1  Custodial    835350.0
2    Manager   5374135.0

# Reading data from different sources

In [24]:
# Reading data froma csv file 
dataset = pd.read_csv("Employee data.csv")
dataset

,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority
0,1.0,Male,1952-02-03,15,Manager,57000.0,27000.0,98.0,144.0,No
1,2.0,Male,1958-05-23,16,Clerical,40200.0,18750.0,98.0,36.0,No
2,3.0,Female,1929-07-26,12,Clerical,21450.0,12000.0,98.0,381.0,No
3,4.0,Female,1947-04-15,8,Clerical,21900.0,13200.0,98.0,190.0,No
4,5.0,Male,1955-02-09,15,Clerical,45000.0,21000.0,98.0,138.0,No
...,...,...,...,...,...,...,...,...,...,...
469,470.0,Male,1964-01-22,12,Clerical,26250.0,15750.0,64.0,69.0,Yes
470,471.0,Male,1966-08-03,15,Clerical,26400.0,15750.0,64.0,32.0,Yes
471,472.0,Male,1966-02-21,15,Clerical,39150.0,15750.0,63.0,46.0,No
472,473.0,Female,1937-11-25,12,Clerical,21450.0,12750.0,63.0,139.0,No
473,474.0,Female,1968-11-05,12,Clerical,29400.0,14250.0,63.0,9.0,No

In [25]:
# Reading data from an Excel sheet
data_excel = pd.read_excel("Employee data.xlsx",sheet_name= "Employee Data")
data_excel

,Employee ID,Department,Region,Education,Gender,Recruitment_Channel,No_of_Trainings,Age,Previous_Year_Rating,Length_of_Service,KPIs_met >80%,Awards_Won,Avg_Training_Score,FT/PT
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,5.0,1,1,0,77,FT
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51,FT
2,72255,Sales & Marketing,region_13,Masters,m,other,1,31,1.0,4,0,0,47,FT
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65,FT
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23485,53478,Legal,region_2,Below Secondary,m,sourcing,1,24,3.0,1,0,0,61,PT
23486,25600,Technology,region_25,Bachelor's,m,sourcing,1,31,3.0,7,0,0,74,PT
23487,45409,HR,region_16,Bachelor's,f,sourcing,1,26,4.0,4,0,0,50,PT
23488,1186,Procurement,region_31,Bachelor's,m,sourcing,3,27,NaN,1,0,0,70,PT
23489,5973,Technology,region_17,Master's & above,m,other,3,40,5.0,5,1,0,89,PT

In [26]:
# # Reading data from an Json file
# data_json = pd.read_json("NineTemples.json")
# data_json

In [27]:
# Pandas DataFrame
print(type(dataset))

<class 'pandas.core.frame.DataFrame'>

In [28]:
dataset.columns

Index(['id', 'gender', 'bdate', 'educ', 'jobcat', 'salary', 'salbegin',
       'jobtime', 'prevexp', 'minority'],
      dtype='object')

In [29]:
# Pandas Series 
dataset['gender']

0        Male
1        Male
2      Female
3      Female
4        Male
        ...
469      Male
470      Male
471      Male
472    Female
473    Female
Name: gender, Length: 474, dtype: object

In [30]:
# Creating a pandas Series
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

days_series = pd.Series(days)
days_series

0     31
1     28
2     31
3     30
4     31
5     30
6     31
7     31
8     30
9     31
10    30
11    31
dtype: int64

In [31]:
# Creating a pandas DataFrame
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
days_DataFrame = pd.DataFrame(days, columns=["Number_Of_Days"])
days_DataFrame

    Number_Of_Days
0               31
1               28
2               31
3               30
4               31
5               30
6               31
7               31
8               30
9               31
10              30
11              31

In [32]:
type(days_DataFrame)

pandas.core.frame.DataFrame

In [33]:
dataset

,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority
0,1.0,Male,1952-02-03,15,Manager,57000.0,27000.0,98.0,144.0,No
1,2.0,Male,1958-05-23,16,Clerical,40200.0,18750.0,98.0,36.0,No
2,3.0,Female,1929-07-26,12,Clerical,21450.0,12000.0,98.0,381.0,No
3,4.0,Female,1947-04-15,8,Clerical,21900.0,13200.0,98.0,190.0,No
4,5.0,Male,1955-02-09,15,Clerical,45000.0,21000.0,98.0,138.0,No
...,...,...,...,...,...,...,...,...,...,...
469,470.0,Male,1964-01-22,12,Clerical,26250.0,15750.0,64.0,69.0,Yes
470,471.0,Male,1966-08-03,15,Clerical,26400.0,15750.0,64.0,32.0,Yes
471,472.0,Male,1966-02-21,15,Clerical,39150.0,15750.0,63.0,46.0,No
472,473.0,Female,1937-11-25,12,Clerical,21450.0,12750.0,63.0,139.0,No
473,474.0,Female,1968-11-05,12,Clerical,29400.0,14250.0,63.0,9.0,No

In [34]:
# To give the first 5 row we use a method called head()
dataset.head(20)

,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority
0,1.0,Male,1952-02-03,15,Manager,57000.0,27000.0,98.0,144.0,No
1,2.0,Male,1958-05-23,16,Clerical,40200.0,18750.0,98.0,36.0,No
2,3.0,Female,1929-07-26,12,Clerical,21450.0,12000.0,98.0,381.0,No
3,4.0,Female,1947-04-15,8,Clerical,21900.0,13200.0,98.0,190.0,No
4,5.0,Male,1955-02-09,15,Clerical,45000.0,21000.0,98.0,138.0,No
5,6.0,Male,1958-08-22,15,Clerical,32100.0,13500.0,98.0,67.0,No
6,7.0,Male,1956-04-26,15,Clerical,36000.0,18750.0,98.0,114.0,No
7,8.0,Female,1966-05-06,12,Clerical,21900.0,9750.0,98.0,missing,No
8,9.0,Female,1946-01-23,15,Clerical,27900.0,12750.0,98.0,115.0,No
9,10.0,Female,1946-02-13,12,Clerical,24000.0,13500.0,98.0,244.0,No
10,11.0,Female,1950-02-07,16,Clerical,30300.0,16500.0,98.0,143.0,No
11,12.0,Male,1966-01-11,8,Clerical,28350.0,12000.0,98.0,26.0,Yes
12,13.0,Male,1960-07-17,15,Clerical,27750.0,14250.0,98.0,34.0,Yes
13,14.0,Female,1949-02-26,15,Clerical,35100.0,16800.0,98.0,137.0,Yes
14,15.0,Male,1962-08-29,12,Clerical,27300.0,13500.0,97.0,66.0,No
15,16.0,Male,1964-11-17,12,Clerical,40800.0,15000.0,97.0,24.0,No
16,17.0,Male,1962-07-18,15,Clerical,46000.0,14250.0,97.0,48.0,No
17,18.0,Male,1956-03-20,16,Manager,103750.0,27510.0,97.0,70.0,No
18,19.0,Male,1962-08-19,12,Clerical,42300.0,14250.0,97.0,103.0,No
19,20.0,Female,1940-01-23,12,Clerical,26250.0,11550.0,97.0,48.0,No

In [35]:
# To give the last 5 row we use a method called tail()
dataset.tail()

,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority
469,470.0,Male,1964-01-22,12,Clerical,26250.0,15750.0,64.0,69.0,Yes
470,471.0,Male,1966-08-03,15,Clerical,26400.0,15750.0,64.0,32.0,Yes
471,472.0,Male,1966-02-21,15,Clerical,39150.0,15750.0,63.0,46.0,No
472,473.0,Female,1937-11-25,12,Clerical,21450.0,12750.0,63.0,139.0,No
473,474.0,Female,1968-11-05,12,Clerical,29400.0,14250.0,63.0,9.0,No

In [36]:
# To find the shape of the dataset -> 
dataset.shape

(474, 10)

In [37]:
# To get all the columns of the  dataset columns
dataset.columns

Index(['id', 'gender', 'bdate', 'educ', 'jobcat', 'salary', 'salbegin',
       'jobtime', 'prevexp', 'minority'],
      dtype='object')

In [38]:
for value in data_excel.columns:
    print(value)

Employee ID
Department
Region
Education
Gender
Recruitment_Channel
No_of_Trainings
Age
Previous_Year_Rating
Length_of_Service
KPIs_met >80%
Awards_Won
Avg_Training_Score
FT/PT

In [39]:
# TO get the type of data we have in our dataset we use the dtypes
dataset.dtypes

id          float64
gender       object
bdate        object
educ          int64
jobcat       object
salary      float64
salbegin    float64
jobtime     float64
prevexp      object
minority     object
dtype: object

In [40]:
# To find some level of information about our dataset we use the info() method
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        474 non-null    float64
 1   gender    474 non-null    object
 2   bdate     473 non-null    object
 3   educ      474 non-null    int64
 4   jobcat    474 non-null    object
 5   salary    474 non-null    float64
 6   salbegin  474 non-null    float64
 7   jobtime   474 non-null    float64
 8   prevexp   474 non-null    object
 9   minority  474 non-null    object
dtypes: float64(4), int64(1), object(5)
memory usage: 37.2+ KB

In [41]:
# To find a short statistics information on the dataset we use describe() method
dataset.describe()

               id        educ         salary      salbegin     jobtime
count  474.000000  474.000000     474.000000    474.000000  474.000000
mean   237.500000   13.491561   34419.567511  17016.086498   81.109705
std    136.976275    2.884846   17075.661465   7870.638154   10.060945
min      1.000000    8.000000   15750.000000   9000.000000   63.000000
25%    119.250000   12.000000   24000.000000  12487.500000   72.000000
50%    237.500000   12.000000   28875.000000  15000.000000   81.000000
75%    355.750000   15.000000   36937.500000  17490.000000   90.000000
max    474.000000   21.000000  135000.000000  79980.000000   98.000000

In [42]:
# Selecting some part of the data 
print(dataset.columns)
jobcat_salary = dataset[["jobcat","salary"]]
jobcat_salary.head()

Index(['id', 'gender', 'bdate', 'educ', 'jobcat', 'salary', 'salbegin',
       'jobtime', 'prevexp', 'minority'],
      dtype='object')

     jobcat   salary
0   Manager  57000.0
1  Clerical  40200.0
2  Clerical  21450.0
3  Clerical  21900.0
4  Clerical  45000.0

In [43]:
# Conditional selection of data in pandas
# Filter the data 
# dataset.gender
new_data_with_filtered_gender = dataset[dataset.gender == "Male"]
new_data_with_filtered_gender.head(20)

,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority
0,1.0,Male,1952-02-03,15,Manager,57000.0,27000.0,98.0,144.0,No
1,2.0,Male,1958-05-23,16,Clerical,40200.0,18750.0,98.0,36.0,No
4,5.0,Male,1955-02-09,15,Clerical,45000.0,21000.0,98.0,138.0,No
5,6.0,Male,1958-08-22,15,Clerical,32100.0,13500.0,98.0,67.0,No
6,7.0,Male,1956-04-26,15,Clerical,36000.0,18750.0,98.0,114.0,No
11,12.0,Male,1966-01-11,8,Clerical,28350.0,12000.0,98.0,26.0,Yes
12,13.0,Male,1960-07-17,15,Clerical,27750.0,14250.0,98.0,34.0,Yes
14,15.0,Male,1962-08-29,12,Clerical,27300.0,13500.0,97.0,66.0,No
15,16.0,Male,1964-11-17,12,Clerical,40800.0,15000.0,97.0,24.0,No
16,17.0,Male,1962-07-18,15,Clerical,46000.0,14250.0,97.0,48.0,No
17,18.0,Male,1956-03-20,16,Manager,103750.0,27510.0,97.0,70.0,No
18,19.0,Male,1962-08-19,12,Clerical,42300.0,14250.0,97.0,103.0,No
21,22.0,Male,1940-09-24,12,Clerical,21750.0,12750.0,97.0,315.0,Yes
25,26.0,Male,1966-11-08,15,Clerical,31050.0,12600.0,96.0,14.0,No
26,27.0,Male,1954-03-19,19,Manager,60375.0,27480.0,96.0,96.0,No
27,28.0,Male,1963-04-11,15,Clerical,32550.0,14250.0,96.0,43.0,No
28,29.0,Male,1944-01-28,19,Manager,135000.0,79980.0,96.0,199.0,No
29,30.0,Male,1961-09-17,15,Clerical,31200.0,14250.0,96.0,54.0,No
30,31.0,Male,1964-02-24,12,Clerical,36150.0,14250.0,96.0,83.0,No
31,32.0,Male,1954-01-28,19,Manager,110625.0,45000.0,96.0,120.0,No

In [44]:
# Performing the same codition for females
new_data_with_filtered_gender = dataset[dataset.gender == "Female"]
new_data_with_filtered_gender.head(20)

,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority
2,3.0,Female,1929-07-26,12,Clerical,21450.0,12000.0,98.0,381.0,No
3,4.0,Female,1947-04-15,8,Clerical,21900.0,13200.0,98.0,190.0,No
7,8.0,Female,1966-05-06,12,Clerical,21900.0,9750.0,98.0,missing,No
8,9.0,Female,1946-01-23,15,Clerical,27900.0,12750.0,98.0,115.0,No
9,10.0,Female,1946-02-13,12,Clerical,24000.0,13500.0,98.0,244.0,No
10,11.0,Female,1950-02-07,16,Clerical,30300.0,16500.0,98.0,143.0,No
13,14.0,Female,1949-02-26,15,Clerical,35100.0,16800.0,98.0,137.0,Yes
19,20.0,Female,1940-01-23,12,Clerical,26250.0,11550.0,97.0,48.0,No
20,21.0,Female,1963-02-19,16,Clerical,38850.0,15000.0,97.0,17.0,No
22,23.0,Female,1965-03-15,15,Clerical,24000.0,11100.0,97.0,75.0,Yes
23,24.0,Female,1933-03-27,12,Clerical,16950.0,9000.0,97.0,124.0,Yes
24,25.0,Female,1942-07-01,15,Clerical,21150.0,9000.0,97.0,171.0,Yes
35,36.0,Female,1963-08-07,8,Clerical,31350.0,11250.0,96.0,52.0,No
39,40.0,Female,1933-08-28,15,Clerical,19200.0,9000.0,96.0,23.0,Yes
40,41.0,Female,1961-03-18,12,Clerical,23550.0,11550.0,96.0,52.0,Yes
45,46.0,Female,1940-11-18,15,Clerical,22350.0,12750.0,95.0,165.0,No
46,47.0,Female,1938-04-28,12,Clerical,30000.0,16500.0,95.0,228.0,No
57,58.0,Female,1964-11-14,15,Clerical,26400.0,13500.0,94.0,3.0,No
71,72.0,Female,1964-01-07,16,Clerical,54000.0,18000.0,93.0,11.0,No
72,73.0,Female,1968-02-09,12,Clerical,26400.0,10500.0,93.0,missing,No

In [45]:
# selecting salaries lessthan 6k from our dataset
salary_lt_6k = dataset[dataset.salary < 60000][["jobcat", "gender"]]
salary_lt_6k

       jobcat  gender
0     Manager    Male
1    Clerical    Male
2    Clerical  Female
3    Clerical  Female
4    Clerical    Male
..        ...     ...
469  Clerical    Male
470  Clerical    Male
471  Clerical    Male
472  Clerical  Female
473  Clerical  Female

[427 rows x 2 columns]

In [46]:
# selecting salaries lessthan 6k from our dataset and counting the various number of jobcat
salary_lt_6k = dataset[dataset.salary < 60000]["jobcat"]
c,m,f = 0,0,0
for i in salary_lt_6k:
    if i == "Manager":
        m += 1
    if i == "Clerical":
        c += 1
    else:
        f += 1
print(f"There are {m} Managers with salary below 6k")
print(f"There are {c} Clercial with salary below 6k")
print(f"There are {f} Custodial with salary below 6k")

There are 39 Managers with salary below 6k
There are 361 Clercial with salary below 6k
There are 66 Custodial with salary below 6k

In [47]:
# How many femal managers do we have in our dataset???
salary_lt_6k_jobcat = dataset[dataset.salary < 60000][]
salary_lt_6k_gender = dataset[dataset.salary < 60000]["gender"]
merged_jobcat_gender = list(zip(salary_lt_6k_jobcat,salary_lt_6k_gender))

t_no_f_managers = 0
# Let now investigate the total number of manager
for value in merged_jobcat_gender:
    if value[0] == "Manager":
        t_no_f_managers += 1
print(t_no_f_managers)


no_of_f_manager = 0
for value in merged_jobcat_gender:
    if value[0] == "Manager" and value[1] == "Female":
        no_of_f_manager += 1
print(f"There number of Female who are managers are {(no_of_f_manager/t_no_f_managers) * 100}%")

SyntaxError: invalid syntax (716646016.py, line 2)

In [ ]:
dataset

In [ ]:
# We salaries ablove 100k and their correspond jobcat
salaries_gt_100k_jobcat = dataset[dataset.salary >= 100000]
salaries_gt_100k_jobcat

In [ ]:
# We salaries ablove 100k and their correspond jobcat and education greater than 16
salaries_gt_100k_jobcat = dataset[(dataset.salary >= 100000) & (dataset.educ > 16)]
salaries_gt_100k_jobcat

In [ ]:
# We salaries ablove 100k and their correspond jobcat or education greater than 16

salaries_gt_100k_jobcat = dataset[(dataset.salary >= 100000) | (dataset.educ > 16)]
salaries_gt_100k_jobcat

# Cleaning the Data

In [ ]:
# Finding duplicate on the whole dataset [if a complete row is duplicate]
no_of_duplicates = dataset.duplicated().sum()
no_of_duplicates

In [ ]:
# Finding duplicate on some columns
# print(dataset.columns)
col_duplicate = dataset.duplicated(["bdate"]).sum()
col_duplicate

In [ ]:
# Let now investigate the people with the same bdate [displaying the duplicate record]
people_with_same_bdate = dataset[dataset.duplicated(["bdate"])]
people_with_same_bdate

In [ ]:
dataset.info()

In [ ]:
dataset["bdate"] = pd.to_datetime(dataset["bdate"])
dataset.info()

In [ ]:
col_duplicate = dataset.duplicated(["bdate"]).sum()
col_duplicate

In [ ]:
# How then do we drop/delete these duplicates
dataset_without_duplicates = dataset.drop_duplicates("bdate")
dataset_without_duplicates

In [ ]:
dataset_without_duplicates.head(20)

In [ ]:
col_duplicate = dataset_without_duplicates.duplicated(["bdate"]).sum()
col_duplicate

In [ ]:
print(help(pd.DataFrame.describe))

### Dropping data with missing values

In [48]:
# Importing Cancer data 
can_data = pd.read_csv("cancer_data.csv")
can_data

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [49]:
# Checking some info on the data 
can_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

In [50]:
# This will give us rows and columns
can_data.shape

(569, 33)

In [51]:
# descriptive statistics
can_data.describe()

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
count,5.690000e+02,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,0.0
mean,3.037183e+07,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,...,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946,NaN
std,1.250206e+08,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,...,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061,NaN
min,8.670000e+03,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,...,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040,NaN
25%,8.692180e+05,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,...,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460,NaN
50%,9.060240e+05,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,...,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040,NaN
75%,8.813129e+06,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,...,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080,NaN
max,9.113205e+08,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,NaN

In [56]:
can_df = can_data.dropna(subset=["Unnamed: 32"])
can_df

Empty DataFrame
Columns: [id, diagnosis, radius_mean, texture_mean, perimeter_mean, area_mean, smoothness_mean, compactness_mean, concavity_mean, concave points_mean, symmetry_mean, fractal_dimension_mean, radius_se, texture_se, perimeter_se, area_se, smoothness_se, compactness_se, concavity_se, concave points_se, symmetry_se, fractal_dimension_se, radius_worst, texture_worst, perimeter_worst, area_worst, smoothness_worst, compactness_worst, concavity_worst, concave points_worst, symmetry_worst, fractal_dimension_worst, Unnamed: 32]
Index: []

[0 rows x 33 columns]

In [92]:

data = {
    "Names" : ["Mary", "Redolf", "Confidence", "Sam", "Aniella"],
    "Department": ["HR", "MR", "IT", "CL", "BOSS"],
    "Salary": [1222, 3425, np.nan, 1222, 10002]
}

new_df = pd.DataFrame(data)
new_df

        Names Department   Salary
0        Mary         HR   1222.0
1      Redolf         MR   3425.0
2  Confidence         IT      NaN
3         Sam         CL   1222.0
4     Aniella       BOSS  10002.0

In [59]:
new_df1 = new_df.dropna(how="any")
new_df1

     Names Department   Salary
0     Mary         HR   1234.0
1   Redolf         MR   3425.0
3      Sam         CL   1222.0
4  Aniella       BOSS  10002.0

In [60]:
new_part = new_df.fillna(method="ffill")
new_part

        Names Department   Salary
0        Mary         HR   1234.0
1      Redolf         MR   3425.0
2  Confidence         IT   3425.0
3         Sam         CL   1222.0
4     Aniella       BOSS  10002.0

In [61]:
new_part = new_df.fillna(method="bfill")
new_part

        Names Department   Salary
0        Mary         HR   1234.0
1      Redolf         MR   3425.0
2  Confidence         IT   1222.0
3         Sam         CL   1222.0
4     Aniella       BOSS  10002.0

In [76]:
# Filling the missing data with the mean
fill_mean = new_df[["Salary"]].fillna(new_df["Salary"].mean())
new_df["Salary"] = fill_mean

In [77]:
new_df

        Names Department    Salary
0        Mary         HR   1234.00
1      Redolf         MR   3425.00
2  Confidence         IT   3970.75
3         Sam         CL   1222.00
4     Aniella       BOSS  10002.00

In [85]:
# Filling the missing data with the mode
fill_mode = new_df[["Salary"]].fillna(new_df["Salary"].mode())
new_df["Salary"] = fill_mode

In [86]:
new_df

        Names Department   Salary
0        Mary         HR   1222.0
1      Redolf         MR   3425.0
2  Confidence         IT   1222.0
3         Sam         CL   1222.0
4     Aniella       BOSS  10002.0

In [89]:
# Filling the missing data with the mode
fill_median = new_df[["Salary"]].fillna(new_df["Salary"].median())
new_df["Salary"] = fill_median

In [90]:
new_df

        Names Department   Salary
0        Mary         HR   1222.0
1      Redolf         MR   3425.0
2  Confidence         IT   2323.5
3         Sam         CL   1222.0
4     Aniella       BOSS  10002.0

In [93]:
new_df

        Names Department   Salary
0        Mary         HR   1222.0
1      Redolf         MR   3425.0
2  Confidence         IT      NaN
3         Sam         CL   1222.0
4     Aniella       BOSS  10002.0

In [115]:
for i in new_df["Salary"].mode():
    x = i
new_dataset = new_df[["Salary"]].replace({np.nan: x})
new_dataset

    Salary
0   1222.0
1   3425.0
2   1222.0
3   1222.0
4  10002.0

In [106]:
new_df["Salary"].mode()

0    1222.0
Name: Salary, dtype: float64

In [114]:
for i in new_df["Salary"].mode():
    x = i

1222.0